@font-face {
  font-family: 'fontello';
  src: url('fontello.woff?32012614') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?32012614#fontello') format('svg');
  }
}
*/

 [class^="de-icon-"]:before, [class*=" de-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.de-icon-glass:before { content: '\e800'; } /* 'î €' */
.de-icon-music:before { content: '\e801'; } /* 'î ' */
.de-icon-search:before { content: '\e802'; } /* 'î ‚' */
.de-icon-mail:before { content: '\e803'; } /* 'î ƒ' */
.de-icon-mail-alt:before { content: '\e804'; } /* 'î „' */
.de-icon-mail-squared:before { content: '\e805'; } /* 'î …' */
.de-icon-heart:before { content: '\e806'; } /* 'î †' */
.de-icon-heart-empty:before { content: '\e807'; } /* 'î ‡' */
.de-icon-star:before { content: '\e808'; } /* 'î ˆ' */
.de-icon-star-empty:before { content: '\e809'; } /* 'î ‰' */
.de-icon-star-half:before { content: '\e80a'; } /* 'î Š' */
.de-icon-star-half-alt:before { content: '\e80b'; } /* 'î ‹' */
.de-icon-user:before { content: '\e80c'; } /* 'î Œ' */
.de-icon-users:before { content: '\e80d'; } /* 'î ' */
.de-icon-male:before { content: '\e80e'; } /* 'î Ž' */
.de-icon-female:before { content: '\e80f'; } /* 'î ' */
.de-icon-child:before { content: '\e810'; } /* 'î ' */
.de-icon-video:before { content: '\e811'; } /* 'î ‘' */
.de-icon-videocam:before { content: '\e812'; } /* 'î ’' */
.de-icon-picture:before { content: '\e813'; } /* 'î “' */
.de-icon-camera:before { content: '\e814'; } /* 'î ”' */
.de-icon-camera-alt:before { content: '\e815'; } /* 'î •' */
.de-icon-th-large:before { content: '\e816'; } /* 'î –' */
.de-icon-th:before { content: '\e817'; } /* 'î —' */
.de-icon-th-list:before { content: '\e818'; } /* 'î ˜' */
.de-icon-ok:before { content: '\e819'; } /* 'î ™' */
.de-icon-ok-circled:before { content: '\e81a'; } /* 'î š' */
.de-icon-ok-circled2:before { content: '\e81b'; } /* 'î ›' */
.de-icon-ok-squared:before { content: '\e81c'; } /* 'î œ' */
.de-icon-cancel:before { content: '\e81d'; } /* 'î ' */
.de-icon-cancel-circled:before { content: '\e81e'; } /* 'î ž' */
.de-icon-cancel-circled2:before { content: '\e81f'; } /* 'î Ÿ' */
.de-icon-plus:before { content: '\e820'; } /* 'î  ' */
.de-icon-plus-circled:before { content: '\e821'; } /* 'î ¡' */
.de-icon-plus-squared:before { content: '\e822'; } /* 'î ¢' */
.de-icon-plus-squared-alt:before { content: '\e823'; } /* 'î £' */
.de-icon-minus:before { content: '\e824'; } /* 'î ¤' */
.de-icon-minus-circled:before { content: '\e825'; } /* 'î ¥' */
.de-icon-minus-squared:before { content: '\e826'; } /* 'î ¦' */
.de-icon-minus-squared-alt:before { content: '\e827'; } /* 'î §' */
.de-icon-help:before { content: '\e828'; } /* 'î ¨' */
.de-icon-help-circled:before { content: '\e829'; } /* 'î ©' */
.de-icon-info-circled:before { content: '\e82a'; } /* 'î ª' */
.de-icon-info:before { content: '\e82b'; } /* 'î «' */
.de-icon-home:before { content: '\e82c'; } /* 'î ¬' */
.de-icon-link:before { content: '\e82d'; } /* 'î ­' */
.de-icon-unlink:before { content: '\e82e'; } /* 'î ®' */
.de-icon-link-ext:before { content: '\e82f'; } /* 'î ¯' */
.de-icon-link-ext-alt:before { content: '\e830'; } /* 'î °' */
.de-icon-attach:before { content: '\e831'; } /* 'î ±' */
.de-icon-lock:before { content: '\e832'; } /* 'î ²' */
.de-icon-lock-open:before { content: '\e833'; } /* 'î ³' */
.de-icon-lock-open-alt:before { content: '\e834'; } /* 'î ´' */
.de-icon-pin:before { content: '\e835'; } /* 'î µ' */
.de-icon-eye:before { content: '\e836'; } /* 'î ¶' */
.de-icon-eye-off:before { content: '\e837'; } /* 'î ·' */
.de-icon-tag:before { content: '\e838'; } /* 'î ¸' */
.de-icon-tags:before { content: '\e839'; } /* 'î ¹' */
.de-icon-bookmark:before { content: '\e83a'; } /* 'î º' */
.de-icon-bookmark-empty:before { content: '\e83b'; } /* 'î »' */
.de-icon-flag:before { content: '\e83c'; } /* 'î ¼' */
.de-icon-flag-empty:before { content: '\e83d'; } /* 'î ½' */
.de-icon-flag-checkered:before { content: '\e83e'; } /* 'î ¾' */
.de-icon-thumbs-up:before { content: '\e83f'; } /* 'î ¿' */
.de-icon-thumbs-down:before { content: '\e840'; } /* 'î¡€' */
.de-icon-thumbs-up-alt:before { content: '\e841'; } /* 'î¡' */
.de-icon-thumbs-down-alt:before { content: '\e842'; } /* 'î¡‚' */
.de-icon-download:before { content: '\e843'; } /* 'î¡ƒ' */
.de-icon-upload:before { content: '\e844'; } /* 'î¡„' */
.de-icon-download-cloud:before { content: '\e845'; } /* 'î¡…' */
.de-icon-upload-cloud:before { content: '\e846'; } /* 'î¡†' */
.de-icon-reply:before { content: '\e847'; } /* 'î¡‡' */
.de-icon-reply-all:before { content: '\e848'; } /* 'î¡ˆ' */
.de-icon-forward:before { content: '\e849'; } /* 'î¡‰' */
.de-icon-quote-left:before { content: '\e84a'; } /* 'î¡Š' */
.de-icon-quote-right:before { content: '\e84b'; } /* 'î¡‹' */
.de-icon-code:before { content: '\e84c'; } /* 'î¡Œ' */
.de-icon-export:before { content: '\e84d'; } /* 'î¡' */
.de-icon-export-alt:before { content: '\e84e'; } /* 'î¡Ž' */
.de-icon-share:before { content: '\e84f'; } /* 'î¡' */
.de-icon-share-squared:before { content: '\e850'; } /* 'î¡' */
.de-icon-pencil:before { content: '\e851'; } /* 'î¡‘' */
.de-icon-pencil-squared:before { content: '\e852'; } /* 'î¡’' */
.de-icon-edit:before { content: '\e853'; } /* 'î¡“' */
.de-icon-print:before { content: '\e854'; } /* 'î¡”' */
.de-icon-retweet:before { content: '\e855'; } /* 'î¡•' */
.de-icon-keyboard:before { content: '\e856'; } /* 'î¡–' */
.de-icon-gamepad:before { content: '\e857'; } /* 'î¡—' */
.de-icon-comment:before { content: '\e858'; } /* 'î¡˜' */
.de-icon-chat:before { content: '\e859'; } /* 'î¡™' */
.de-icon-comment-empty:before { content: '\e85a'; } /* 'î¡š' */
.de-icon-chat-empty:before { content: '\e85b'; } /* 'î¡›' */
.de-icon-bell:before { content: '\e85c'; } /* 'î¡œ' */
.de-icon-bell-alt:before { content: '\e85d'; } /* 'î¡' */
.de-icon-attention-alt:before { content: '\e85e'; } /* 'î¡ž' */
.de-icon-attention:before { content: '\e85f'; } /* 'î¡Ÿ' */
.de-icon-attention-circled:before { content: '\e860'; } /* 'î¡ ' */
.de-icon-location:before { content: '\e861'; } /* 'î¡¡' */
.de-icon-direction:before { content: '\e862'; } /* 'î¡¢' */
.de-icon-compass:before { content: '\e863'; } /* 'î¡£' */
.de-icon-trash:before { content: '\e864'; } /* 'î¡¤' */
.de-icon-doc:before { content: '\e865'; } /* 'î¡¥' */
.de-icon-docs:before { content: '\e866'; } /* 'î¡¦' */
.de-icon-doc-text:before { content: '\e867'; } /* 'î¡§' */
.de-icon-doc-inv:before { content: '\e868'; } /* 'î¡¨' */
.de-icon-doc-text-inv:before { content: '\e869'; } /* 'î¡©' */
.de-icon-file-pdf:before { content: '\e86a'; } /* 'î¡ª' */
.de-icon-file-word:before { content: '\e86b'; } /* 'î¡«' */
.de-icon-file-excel:before { content: '\e86c'; } /* 'î¡¬' */
.de-icon-file-powerpoint:before { content: '\e86d'; } /* 'î¡­' */
.de-icon-file-image:before { content: '\e86e'; } /* 'î¡®' */
.de-icon-file-archive:before { content: '\e86f'; } /* 'î¡¯' */
.de-icon-file-audio:before { content: '\e870'; } /* 'î¡°' */
.de-icon-file-video:before { content: '\e871'; } /* 'î¡±' */
.de-icon-file-code:before { content: '\e872'; } /* 'î¡²' */
.de-icon-folder:before { content: '\e873'; } /* 'î¡³' */
.de-icon-folder-open:before { content: '\e874'; } /* 'î¡´' */
.de-icon-folder-empty:before { content: '\e875'; } /* 'î¡µ' */
.de-icon-folder-open-empty:before { content: '\e876'; } /* 'î¡¶' */
.de-icon-box:before { content: '\e877'; } /* 'î¡·' */
.de-icon-rss:before { content: '\e878'; } /* 'î¡¸' */
.de-icon-rss-squared:before { content: '\e879'; } /* 'î¡¹' */
.de-icon-phone:before { content: '\e87a'; } /* 'î¡º' */
.de-icon-phone-squared:before { content: '\e87b'; } /* 'î¡»' */
.de-icon-fax:before { content: '\e87c'; } /* 'î¡¼' */
.de-icon-menu:before { content: '\e87d'; } /* 'î¡½' */
.de-icon-cog:before { content: '\e87e'; } /* 'î¡¾' */
.de-icon-cog-alt:before { content: '\e87f'; } /* 'î¡¿' */
.de-icon-wrench:before { content: '\e880'; } /* 'î¢€' */
.de-icon-sliders:before { content: '\e881'; } /* 'î¢' */
.de-icon-basket:before { content: '\e882'; } /* 'î¢‚' */
.de-icon-calendar:before { content: '\e883'; } /* 'î¢ƒ' */
.de-icon-calendar-empty:before { content: '\e884'; } /* 'î¢„' */
.de-icon-login:before { content: '\e885'; } /* 'î¢…' */
.de-icon-logout:before { content: '\e886'; } /* 'î¢†' */
.de-icon-mic:before { content: '\e887'; } /* 'î¢‡' */
.de-icon-mute:before { content: '\e888'; } /* 'î¢ˆ' */
.de-icon-volume-off:before { content: '\e889'; } /* 'î¢‰' */
.de-icon-volume-down:before { content: '\e88a'; } /* 'î¢Š' */
.de-icon-volume-up:before { content: '\e88b'; } /* 'î¢‹' */
.de-icon-headphones:before { content: '\e88c'; } /* 'î¢Œ' */
.de-icon-clock:before { content: '\e88d'; } /* 'î¢' */
.de-icon-lightbulb:before { content: '\e88e'; } /* 'î¢Ž' */
.de-icon-block:before { content: '\e88f'; } /* 'î¢' */
.de-icon-resize-full:before { content: '\e890'; } /* 'î¢' */
.de-icon-resize-full-alt:before { content: '\e891'; } /* 'î¢‘' */
.de-icon-resize-small:before { content: '\e892'; } /* 'î¢’' */
.de-icon-resize-vertical:before { content: '\e893'; } /* 'î¢“' */
.de-icon-resize-horizontal:before { content: '\e894'; } /* 'î¢”' */
.de-icon-move:before { content: '\e895'; } /* 'î¢•' */
.de-icon-zoom-in:before { content: '\e896'; } /* 'î¢–' */
.de-icon-zoom-out:before { content: '\e897'; } /* 'î¢—' */
.de-icon-down-circled2:before { content: '\e898'; } /* 'î¢˜' */
.de-icon-up-circled2:before { content: '\e899'; } /* 'î¢™' */
.de-icon-left-circled2:before { content: '\e89a'; } /* 'î¢š' */
.de-icon-right-circled2:before { content: '\e89b'; } /* 'î¢›' */
.de-icon-down-dir:before { content: '\e89c'; } /* 'î¢œ' */
.de-icon-up-dir:before { content: '\e89d'; } /* 'î¢' */
.de-icon-left-dir:before { content: '\e89e'; } /* 'î¢ž' */
.de-icon-right-dir:before { content: '\e89f'; } /* 'î¢Ÿ' */
.de-icon-down-open:before { content: '\e8a0'; } /* 'î¢ ' */
.de-icon-left-open:before { content: '\e8a1'; } /* 'î¢¡' */
.de-icon-right-open:before { content: '\e8a2'; } /* 'î¢¢' */
.de-icon-up-open:before { content: '\e8a3'; } /* 'î¢£' */
.de-icon-angle-left:before { content: '\e8a4'; } /* 'î¢¤' */
.de-icon-angle-right:before { content: '\e8a5'; } /* 'î¢¥' */
.de-icon-angle-up:before { content: '\e8a6'; } /* 'î¢¦' */
.de-icon-angle-down:before { content: '\e8a7'; } /* 'î¢§' */
.de-icon-angle-circled-left:before { content: '\e8a8'; } /* 'î¢¨' */
.de-icon-angle-circled-right:before { content: '\e8a9'; } /* 'î¢©' */
.de-icon-angle-circled-up:before { content: '\e8aa'; } /* 'î¢ª' */
.de-icon-angle-circled-down:before { content: '\e8ab'; } /* 'î¢«' */
.de-icon-angle-double-left:before { content: '\e8ac'; } /* 'î¢¬' */
.de-icon-angle-double-right:before { content: '\e8ad'; } /* 'î¢­' */
.de-icon-angle-double-up:before { content: '\e8ae'; } /* 'î¢®' */
.de-icon-angle-double-down:before { content: '\e8af'; } /* 'î¢¯' */
.de-icon-down:before { content: '\e8b0'; } /* 'î¢°' */
.de-icon-left:before { content: '\e8b1'; } /* 'î¢±' */
.de-icon-right:before { content: '\e8b2'; } /* 'î¢²' */
.de-icon-up:before { content: '\e8b3'; } /* 'î¢³' */
.de-icon-down-big:before { content: '\e8b4'; } /* 'î¢´' */
.de-icon-left-big:before { content: '\e8b5'; } /* 'î¢µ' */
.de-icon-right-big:before { content: '\e8b6'; } /* 'î¢¶' */
.de-icon-up-big:before { content: '\e8b7'; } /* 'î¢·' */
.de-icon-right-hand:before { content: '\e8b8'; } /* 'î¢¸' */
.de-icon-left-hand:before { content: '\e8b9'; } /* 'î¢¹' */
.de-icon-up-hand:before { content: '\e8ba'; } /* 'î¢º' */
.de-icon-down-hand:before { content: '\e8bb'; } /* 'î¢»' */
.de-icon-left-circled:before { content: '\e8bc'; } /* 'î¢¼' */
.de-icon-right-circled:before { content: '\e8bd'; } /* 'î¢½' */
.de-icon-up-circled:before { content: '\e8be'; } /* 'î¢¾' */
.de-icon-down-circled:before { content: '\e8bf'; } /* 'î¢¿' */
.de-icon-cw:before { content: '\e8c0'; } /* 'î£€' */
.de-icon-ccw:before { content: '\e8c1'; } /* 'î£' */
.de-icon-arrows-cw:before { content: '\e8c2'; } /* 'î£‚' */
.de-icon-level-up:before { content: '\e8c3'; } /* 'î£ƒ' */
.de-icon-level-down:before { content: '\e8c4'; } /* 'î£„' */
.de-icon-shuffle:before { content: '\e8c5'; } /* 'î£…' */
.de-icon-exchange:before { content: '\e8c6'; } /* 'î£†' */
.de-icon-history:before { content: '\e8c7'; } /* 'î£‡' */
.de-icon-expand:before { content: '\e8c8'; } /* 'î£ˆ' */
.de-icon-collapse:before { content: '\e8c9'; } /* 'î£‰' */
.de-icon-expand-right:before { content: '\e8ca'; } /* 'î£Š' */
.de-icon-collapse-left:before { content: '\e8cb'; } /* 'î£‹' */
.de-icon-play:before { content: '\e8cc'; } /* 'î£Œ' */
.de-icon-play-circled:before { content: '\e8cd'; } /* 'î£' */
.de-icon-play-circled2:before { content: '\e8ce'; } /* 'î£Ž' */
.de-icon-stop:before { content: '\e8cf'; } /* 'î£' */
.de-icon-pause:before { content: '\e8d0'; } /* 'î£' */
.de-icon-to-end:before { content: '\e8d1'; } /* 'î£‘' */
.de-icon-to-end-alt:before { content: '\e8d2'; } /* 'î£’' */
.de-icon-to-start:before { content: '\e8d3'; } /* 'î£“' */
.de-icon-to-start-alt:before { content: '\e8d4'; } /* 'î£”' */
.de-icon-fast-fw:before { content: '\e8d5'; } /* 'î£•' */
.de-icon-fast-bw:before { content: '\e8d6'; } /* 'î£–' */
.de-icon-eject:before { content: '\e8d7'; } /* 'î£—' */
.de-icon-target:before { content: '\e8d8'; } /* 'î£˜' */
.de-icon-signal:before { content: '\e8d9'; } /* 'î£™' */
.de-icon-award:before { content: '\e8da'; } /* 'î£š' */
.de-icon-desktop:before { content: '\e8db'; } /* 'î£›' */
.de-icon-laptop:before { content: '\e8dc'; } /* 'î£œ' */
.de-icon-tablet:before { content: '\e8dd'; } /* 'î£' */
.de-icon-mobile:before { content: '\e8de'; } /* 'î£ž' */
.de-icon-inbox:before { content: '\e8df'; } /* 'î£Ÿ' */
.de-icon-globe:before { content: '\e8e0'; } /* 'î£ ' */
.de-icon-sun:before { content: '\e8e1'; } /* 'î£¡' */
.de-icon-cloud:before { content: '\e8e2'; } /* 'î£¢' */
.de-icon-flash:before { content: '\e8e3'; } /* 'î££' */
.de-icon-moon:before { content: '\e8e4'; } /* 'î£¤' */
.de-icon-umbrella:before { content: '\e8e5'; } /* 'î£¥' */
.de-icon-flight:before { content: '\e8e6'; } /* 'î£¦' */
.de-icon-fighter-jet:before { content: '\e8e7'; } /* 'î£§' */
.de-icon-paper-plane:before { content: '\e8e8'; } /* 'î£¨' */
.de-icon-paper-plane-empty:before { content: '\e8e9'; } /* 'î£©' */
.de-icon-space-shuttle:before { content: '\e8ea'; } /* 'î£ª' */
.de-icon-leaf:before { content: '\e8eb'; } /* 'î£«' */
.de-icon-font:before { content: '\e8ec'; } /* 'î£¬' */
.de-icon-bold:before { content: '\e8ed'; } /* 'î£­' */
.de-icon-italic:before { content: '\e8ee'; } /* 'î£®' */
.de-icon-header:before { content: '\e8ef'; } /* 'î£¯' */
.de-icon-paragraph:before { content: '\e8f0'; } /* 'î£°' */
.de-icon-text-height:before { content: '\e8f1'; } /* 'î£±' */
.de-icon-text-width:before { content: '\e8f2'; } /* 'î£²' */
.de-icon-align-left:before { content: '\e8f3'; } /* 'î£³' */
.de-icon-align-center:before { content: '\e8f4'; } /* 'î£´' */
.de-icon-align-right:before { content: '\e8f5'; } /* 'î£µ' */
.de-icon-align-justify:before { content: '\e8f6'; } /* 'î£¶' */
.de-icon-list:before { content: '\e8f7'; } /* 'î£·' */
.de-icon-indent-left:before { content: '\e8f8'; } /* 'î£¸' */
.de-icon-indent-right:before { content: '\e8f9'; } /* 'î£¹' */
.de-icon-list-bullet:before { content: '\e8fa'; } /* 'î£º' */
.de-icon-list-numbered:before { content: '\e8fb'; } /* 'î£»' */
.de-icon-strike:before { content: '\e8fc'; } /* 'î£¼' */
.de-icon-underline:before { content: '\e8fd'; } /* 'î£½' */
.de-icon-superscript:before { content: '\e8fe'; } /* 'î£¾' */
.de-icon-subscript:before { content: '\e8ff'; } /* 'î£¿' */
.de-icon-table:before { content: '\e900'; } /* 'î¤€' */
.de-icon-columns:before { content: '\e901'; } /* 'î¤' */
.de-icon-crop:before { content: '\e902'; } /* 'î¤‚' */
.de-icon-scissors:before { content: '\e903'; } /* 'î¤ƒ' */
.de-icon-paste:before { content: '\e904'; } /* 'î¤„' */
.de-icon-briefcase:before { content: '\e905'; } /* 'î¤…' */
.de-icon-suitcase:before { content: '\e906'; } /* 'î¤†' */
.de-icon-ellipsis:before { content: '\e907'; } /* 'î¤‡' */
.de-icon-ellipsis-vert:before { content: '\e908'; } /* 'î¤ˆ' */
.de-icon-off:before { content: '\e909'; } /* 'î¤‰' */
.de-icon-road:before { content: '\e90a'; } /* 'î¤Š' */
.de-icon-list-alt:before { content: '\e90b'; } /* 'î¤‹' */
.de-icon-qrcode:before { content: '\e90c'; } /* 'î¤Œ' */
.de-icon-barcode:before { content: '\e90d'; } /* 'î¤' */
.de-icon-book:before { content: '\e90e'; } /* 'î¤Ž' */
.de-icon-ajust:before { content: '\e90f'; } /* 'î¤' */
.de-icon-tint:before { content: '\e910'; } /* 'î¤' */
.de-icon-check:before { content: '\e911'; } /* 'î¤‘' */
.de-icon-check-empty:before { content: '\e912'; } /* 'î¤’' */
.de-icon-circle:before { content: '\e913'; } /* 'î¤“' */
.de-icon-circle-empty:before { content: '\e914'; } /* 'î¤”' */
.de-icon-circle-thin:before { content: '\e915'; } /* 'î¤•' */
.de-icon-circle-notch:before { content: '\e916'; } /* 'î¤–' */
.de-icon-dot-circled:before { content: '\e917'; } /* 'î¤—' */
.de-icon-asterisk:before { content: '\e918'; } /* 'î¤˜' */
.de-icon-gift:before { content: '\e919'; } /* 'î¤™' */
.de-icon-fire:before { content: '\e91a'; } /* 'î¤š' */
.de-icon-magnet:before { content: '\e91b'; } /* 'î¤›' */
.de-icon-chart-bar:before { content: '\e91c'; } /* 'î¤œ' */
.de-icon-ticket:before { content: '\e91d'; } /* 'î¤' */
.de-icon-credit-card:before { content: '\e91e'; } /* 'î¤ž' */
.de-icon-floppy:before { content: '\e91f'; } /* 'î¤Ÿ' */
.de-icon-megaphone:before { content: '\e920'; } /* 'î¤ ' */
.de-icon-hdd:before { content: '\e921'; } /* 'î¤¡' */
.de-icon-key:before { content: '\e922'; } /* 'î¤¢' */
.de-icon-fork:before { content: '\e923'; } /* 'î¤£' */
.de-icon-rocket:before { content: '\e924'; } /* 'î¤¤' */
.de-icon-bug:before { content: '\e925'; } /* 'î¤¥' */
.de-icon-certificate:before { content: '\e926'; } /* 'î¤¦' */
.de-icon-tasks:before { content: '\e927'; } /* 'î¤§' */
.de-icon-filter:before { content: '\e928'; } /* 'î¤¨' */
.de-icon-beaker:before { content: '\e929'; } /* 'î¤©' */
.de-icon-magic:before { content: '\e92a'; } /* 'î¤ª' */
.de-icon-cab:before { content: '\e92b'; } /* 'î¤«' */
.de-icon-taxi:before { content: '\e92c'; } /* 'î¤¬' */
.de-icon-truck:before { content: '\e92d'; } /* 'î¤­' */
.de-icon-money:before { content: '\e92e'; } /* 'î¤®' */
.de-icon-euro:before { content: '\e92f'; } /* 'î¤¯' */
.de-icon-pound:before { content: '\e930'; } /* 'î¤°' */
.de-icon-dollar:before { content: '\e931'; } /* 'î¤±' */
.de-icon-rupee:before { content: '\e932'; } /* 'î¤²' */
.de-icon-yen:before { content: '\e933'; } /* 'î¤³' */
.de-icon-rouble:before { content: '\e934'; } /* 'î¤´' */
.de-icon-try:before { content: '\e935'; } /* 'î¤µ' */
.de-icon-won:before { content: '\e936'; } /* 'î¤¶' */
.de-icon-bitcoin:before { content: '\e937'; } /* 'î¤·' */
.de-icon-sort:before { content: '\e938'; } /* 'î¤¸' */
.de-icon-sort-down:before { content: '\e939'; } /* 'î¤¹' */
.de-icon-sort-up:before { content: '\e93a'; } /* 'î¤º' */
.de-icon-sort-alt-up:before { content: '\e93b'; } /* 'î¤»' */
.de-icon-sort-alt-down:before { content: '\e93c'; } /* 'î¤¼' */
.de-icon-sort-name-up:before { content: '\e93d'; } /* 'î¤½' */
.de-icon-sort-name-down:before { content: '\e93e'; } /* 'î¤¾' */
.de-icon-sort-number-up:before { content: '\e93f'; } /* 'î¤¿' */
.de-icon-sort-number-down:before { content: '\e940'; } /* 'î¥€' */
.de-icon-hammer:before { content: '\e941'; } /* 'î¥' */
.de-icon-gauge:before { content: '\e942'; } /* 'î¥‚' */
.de-icon-sitemap:before { content: '\e943'; } /* 'î¥ƒ' */
.de-icon-spinner:before { content: '\e944'; } /* 'î¥„' */
.de-icon-coffee:before { content: '\e945'; } /* 'î¥…' */
.de-icon-food:before { content: '\e946'; } /* 'î¥†' */
.de-icon-beer:before { content: '\e947'; } /* 'î¥‡' */
.de-icon-user-md:before { content: '\e948'; } /* 'î¥ˆ' */
.de-icon-stethoscope:before { content: '\e949'; } /* 'î¥‰' */
.de-icon-ambulance:before { content: '\e94a'; } /* 'î¥Š' */
.de-icon-medkit:before { content: '\e94b'; } /* 'î¥‹' */
.de-icon-h-sigh:before { content: '\e94c'; } /* 'î¥Œ' */
.de-icon-hospital:before { content: '\e94d'; } /* 'î¥' */
.de-icon-building:before { content: '\e94e'; } /* 'î¥Ž' */
.de-icon-building-filled:before { content: '\e94f'; } /* 'î¥' */
.de-icon-bank:before { content: '\e950'; } /* 'î¥' */
.de-icon-smile:before { content: '\e951'; } /* 'î¥‘' */
.de-icon-frown:before { content: '\e952'; } /* 'î¥’' */
.de-icon-meh:before { content: '\e953'; } /* 'î¥“' */
.de-icon-anchor:before { content: '\e954'; } /* 'î¥”' */
.de-icon-terminal:before { content: '\e955'; } /* 'î¥•' */
.de-icon-eraser:before { content: '\e956'; } /* 'î¥–' */
.de-icon-puzzle:before { content: '\e957'; } /* 'î¥—' */
.de-icon-shield:before { content: '\e958'; } /* 'î¥˜' */
.de-icon-extinguisher:before { content: '\e959'; } /* 'î¥™' */
.de-icon-bullseye:before { content: '\e95a'; } /* 'î¥š' */
.de-icon-wheelchair:before { content: '\e95b'; } /* 'î¥›' */
.de-icon-language:before { content: '\e95c'; } /* 'î¥œ' */
.de-icon-graduation-cap:before { content: '\e95d'; } /* 'î¥' */
.de-icon-paw:before { content: '\e95e'; } /* 'î¥ž' */
.de-icon-spoon:before { content: '\e95f'; } /* 'î¥Ÿ' */
.de-icon-cube:before { content: '\e960'; } /* 'î¥ ' */
.de-icon-cubes:before { content: '\e961'; } /* 'î¥¡' */
.de-icon-recycle:before { content: '\e962'; } /* 'î¥¢' */
.de-icon-tree:before { content: '\e963'; } /* 'î¥£' */
.de-icon-database:before { content: '\e964'; } /* 'î¥¤' */
.de-icon-lifebuoy:before { content: '\e965'; } /* 'î¥¥' */
.de-icon-rebel:before { content: '\e966'; } /* 'î¥¦' */
.de-icon-empire:before { content: '\e967'; } /* 'î¥§' */
.de-icon-bomb:before { content: '\e968'; } /* 'î¥¨' */
.de-icon-adn:before { content: '\e969'; } /* 'î¥©' */
.de-icon-android:before { content: '\e96a'; } /* 'î¥ª' */
.de-icon-apple:before { content: '\e96b'; } /* 'î¥«' */
.de-icon-behance:before { content: '\e96c'; } /* 'î¥¬' */
.de-icon-behance-squared:before { content: '\e96d'; } /* 'î¥­' */
.de-icon-bitbucket:before { content: '\e96e'; } /* 'î¥®' */
.de-icon-bitbucket-squared:before { content: '\e96f'; } /* 'î¥¯' */
.de-icon-codeopen:before { content: '\e970'; } /* 'î¥°' */
.de-icon-css3:before { content: '\e971'; } /* 'î¥±' */
.de-icon-delicious:before { content: '\e972'; } /* 'î¥²' */
.de-icon-deviantart:before { content: '\e973'; } /* 'î¥³' */
.de-icon-digg:before { content: '\e974'; } /* 'î¥´' */
.de-icon-dribbble:before { content: '\e975'; } /* 'î¥µ' */
.de-icon-dropbox:before { content: '\e976'; } /* 'î¥¶' */
.de-icon-drupal:before { content: '\e977'; } /* 'î¥·' */
.de-icon-facebook:before { content: '\e978'; } /* 'î¥¸' */
.de-icon-facebook-squared:before { content: '\e979'; } /* 'î¥¹' */
.de-icon-flickr:before { content: '\e97a'; } /* 'î¥º' */
.de-icon-foursquare:before { content: '\e97b'; } /* 'î¥»' */
.de-icon-git-squared:before { content: '\e97c'; } /* 'î¥¼' */
.de-icon-git:before { content: '\e97d'; } /* 'î¥½' */
.de-icon-github:before { content: '\e97e'; } /* 'î¥¾' */
.de-icon-github-squared:before { content: '\e97f'; } /* 'î¥¿' */
.de-icon-github-circled:before { content: '\e980'; } /* 'î¦€' */
.de-icon-gittip:before { content: '\e981'; } /* 'î¦' */
.de-icon-google:before { content: '\e982'; } /* 'î¦‚' */
.de-icon-gplus:before { content: '\e983'; } /* 'î¦ƒ' */
.de-icon-gplus-squared:before { content: '\e984'; } /* 'î¦„' */
.de-icon-hacker-news:before { content: '\e985'; } /* 'î¦…' */
.de-icon-html5:before { content: '\e986'; } /* 'î¦†' */
.de-icon-instagramm:before { content: '\e987'; } /* 'î¦‡' */
.de-icon-joomla:before { content: '\e988'; } /* 'î¦ˆ' */
.de-icon-jsfiddle:before { content: '\e989'; } /* 'î¦‰' */
.de-icon-linkedin-squared:before { content: '\e98a'; } /* 'î¦Š' */
.de-icon-linux:before { content: '\e98b'; } /* 'î¦‹' */
.de-icon-linkedin:before { content: '\e98c'; } /* 'î¦Œ' */
.de-icon-maxcdn:before { content: '\e98d'; } /* 'î¦' */
.de-icon-openid:before { content: '\e98e'; } /* 'î¦Ž' */
.de-icon-pagelines:before { content: '\e98f'; } /* 'î¦' */
.de-icon-pied-piper-squared:before { content: '\e990'; } /* 'î¦' */
.de-icon-pied-piper-alt:before { content: '\e991'; } /* 'î¦‘' */
.de-icon-pinterest-circled:before { content: '\e992'; } /* 'î¦’' */
.de-icon-pinterest-squared:before { content: '\e993'; } /* 'î¦“' */
.de-icon-qq:before { content: '\e994'; } /* 'î¦”' */
.de-icon-reddit:before { content: '\e995'; } /* 'î¦•' */
.de-icon-reddit-squared:before { content: '\e996'; } /* 'î¦–' */
.de-icon-renren:before { content: '\e997'; } /* 'î¦—' */
.de-icon-skype:before { content: '\e998'; } /* 'î¦˜' */
.de-icon-slack:before { content: '\e999'; } /* 'î¦™' */
.de-icon-soundclowd:before { content: '\e99a'; } /* 'î¦š' */
.de-icon-spotify:before { content: '\e99b'; } /* 'î¦›' */
.de-icon-stackexchange:before { content: '\e99c'; } /* 'î¦œ' */
.de-icon-stackoverflow:before { content: '\e99d'; } /* 'î¦' */
.de-icon-steam:before { content: '\e99e'; } /* 'î¦ž' */
.de-icon-steam-squared:before { content: '\e99f'; } /* 'î¦Ÿ' */
.de-icon-stumbleupon:before { content: '\e9a0'; } /* 'î¦ ' */
.de-icon-stumbleupon-circled:before { content: '\e9a1'; } /* 'î¦¡' */
.de-icon-tencent-weibo:before { content: '\e9a2'; } /* 'î¦¢' */
.de-icon-trello:before { content: '\e9a3'; } /* 'î¦£' */
.de-icon-tumblr:before { content: '\e9a4'; } /* 'î¦¤' */
.de-icon-tumblr-squared:before { content: '\e9a5'; } /* 'î¦¥' */
.de-icon-twitter-squared:before { content: '\e9a6'; } /* 'î¦¦' */
.de-icon-twitter:before { content: '\e9a7'; } /* 'î¦§' */
.de-icon-vimeo-squared:before { content: '\e9a8'; } /* 'î¦¨' */
.de-icon-vine:before { content: '\e9a9'; } /* 'î¦©' */
.de-icon-vkontakte:before { content: '\e9aa'; } /* 'î¦ª' */
.de-icon-wechat:before { content: '\e9ab'; } /* 'î¦«' */
.de-icon-weibo:before { content: '\e9ac'; } /* 'î¦¬' */
.de-icon-windows:before { content: '\e9ad'; } /* 'î¦­' */
.de-icon-wordpress:before { content: '\e9ae'; } /* 'î¦®' */
.de-icon-xing:before { content: '\e9af'; } /* 'î¦¯' */
.de-icon-xing-squared:before { content: '\e9b0'; } /* 'î¦°' */
.de-icon-youtube:before { content: '\e9b1'; } /* 'î¦±' */
.de-icon-yahoo:before { content: '\e9b2'; } /* 'î¦²' */
.de-icon-youtube-squared:before { content: '\e9b3'; } /* 'î¦³' */
.de-icon-youtube-play:before { content: '\e9b4'; } /* 'î¦´' */
.de-icon-blank:before { content: '\e9b5'; } /* 'î¦µ' */
.de-icon-lemon:before { content: '\e9b6'; } /* 'î¦¶' */
.de-icon-note:before { content: '\e9b7'; } /* 'î¦·' */
.de-icon-note-beamed:before { content: '\e9b8'; } /* 'î¦¸' */
.de-icon-music-1:before { content: '\e9b9'; } /* 'î¦¹' */
.de-icon-search-1:before { content: '\e9ba'; } /* 'î¦º' */
.de-icon-flashlight:before { content: '\e9bb'; } /* 'î¦»' */
.de-icon-mail-1:before { content: '\e9bc'; } /* 'î¦¼' */
.de-icon-heart-1:before { content: '\e9bd'; } /* 'î¦½' */
.de-icon-heart-empty-1:before { content: '\e9be'; } /* 'î¦¾' */
.de-icon-star-1:before { content: '\e9bf'; } /* 'î¦¿' */
.de-icon-star-empty-1:before { content: '\e9c0'; } /* 'î§€' */
.de-icon-user-1:before { content: '\e9c1'; } /* 'î§' */
.de-icon-users-1:before { content: '\e9c2'; } /* 'î§‚' */
.de-icon-user-add:before { content: '\e9c3'; } /* 'î§ƒ' */
.de-icon-video-1:before { content: '\e9c4'; } /* 'î§„' */
.de-icon-picture-1:before { content: '\e9c5'; } /* 'î§…' */
.de-icon-camera-1:before { content: '\e9c6'; } /* 'î§†' */
.de-icon-layout:before { content: '\e9c7'; } /* 'î§‡' */
.de-icon-menu-1:before { content: '\e9c8'; } /* 'î§ˆ' */
.de-icon-check-1:before { content: '\e9c9'; } /* 'î§‰' */
.de-icon-cancel-1:before { content: '\e9ca'; } /* 'î§Š' */
.de-icon-cancel-circled-1:before { content: '\e9cb'; } /* 'î§‹' */
.de-icon-cancel-squared:before { content: '\e9cc'; } /* 'î§Œ' */
.de-icon-plus-1:before { content: '\e9cd'; } /* 'î§' */
.de-icon-plus-circled-1:before { content: '\e9ce'; } /* 'î§Ž' */
.de-icon-plus-squared-1:before { content: '\e9cf'; } /* 'î§' */
.de-icon-minus-1:before { content: '\e9d0'; } /* 'î§' */
.de-icon-minus-circled-1:before { content: '\e9d1'; } /* 'î§‘' */
.de-icon-minus-squared-1:before { content: '\e9d2'; } /* 'î§’' */
.de-icon-help-1:before { content: '\e9d3'; } /* 'î§“' */
.de-icon-help-circled-1:before { content: '\e9d4'; } /* 'î§”' */
.de-icon-info-1:before { content: '\e9d5'; } /* 'î§•' */
.de-icon-info-circled-1:before { content: '\e9d6'; } /* 'î§–' */
.de-icon-back:before { content: '\e9d7'; } /* 'î§—' */
.de-icon-home-1:before { content: '\e9d8'; } /* 'î§˜' */
.de-icon-link-1:before { content: '\e9d9'; } /* 'î§™' */
.de-icon-attach-1:before { content: '\e9da'; } /* 'î§š' */
.de-icon-lock-1:before { content: '\e9db'; } /* 'î§›' */
.de-icon-lock-open-1:before { content: '\e9dc'; } /* 'î§œ' */
.de-icon-eye-1:before { content: '\e9dd'; } /* 'î§' */
.de-icon-tag-1:before { content: '\e9de'; } /* 'î§ž' */
.de-icon-bookmark-1:before { content: '\e9df'; } /* 'î§Ÿ' */
.de-icon-bookmarks:before { content: '\e9e0'; } /* 'î§ ' */
.de-icon-flag-1:before { content: '\e9e1'; } /* 'î§¡' */
.de-icon-thumbs-up-1:before { content: '\e9e2'; } /* 'î§¢' */
.de-icon-thumbs-down-1:before { content: '\e9e3'; } /* 'î§£' */
.de-icon-download-1:before { content: '\e9e4'; } /* 'î§¤' */
.de-icon-upload-1:before { content: '\e9e5'; } /* 'î§¥' */
.de-icon-upload-cloud-1:before { content: '\e9e6'; } /* 'î§¦' */
.de-icon-reply-1:before { content: '\e9e7'; } /* 'î§§' */
.de-icon-reply-all-1:before { content: '\e9e8'; } /* 'î§¨' */
.de-icon-forward-1:before { content: '\e9e9'; } /* 'î§©' */
.de-icon-quote:before { content: '\e9ea'; } /* 'î§ª' */
.de-icon-code-1:before { content: '\e9eb'; } /* 'î§«' */
.de-icon-export-1:before { content: '\e9ec'; } /* 'î§¬' */
.de-icon-pencil-1:before { content: '\e9ed'; } /* 'î§­' */
.de-icon-feather:before { content: '\e9ee'; } /* 'î§®' */
.de-icon-print-1:before { content: '\e9ef'; } /* 'î§¯' */
.de-icon-retweet-1:before { content: '\e9f0'; } /* 'î§°' */
.de-icon-keyboard-1:before { content: '\e9f1'; } /* 'î§±' */
.de-icon-comment-1:before { content: '\e9f2'; } /* 'î§²' */
.de-icon-chat-1:before { content: '\e9f3'; } /* 'î§³' */
.de-icon-bell-1:before { content: '\e9f4'; } /* 'î§´' */
.de-icon-attention-1:before { content: '\e9f5'; } /* 'î§µ' */
.de-icon-alert:before { content: '\e9f6'; } /* 'î§¶' */
.de-icon-vcard:before { content: '\e9f7'; } /* 'î§·' */
.de-icon-address:before { content: '\e9f8'; } /* 'î§¸' */
.de-icon-location-1:before { content: '\e9f9'; } /* 'î§¹' */
.de-icon-map:before { content: '\e9fa'; } /* 'î§º' */
.de-icon-direction-1:before { content: '\e9fb'; } /* 'î§»' */
.de-icon-compass-1:before { content: '\e9fc'; } /* 'î§¼' */
.de-icon-cup:before { content: '\e9fd'; } /* 'î§½' */
.de-icon-trash-1:before { content: '\e9fe'; } /* 'î§¾' */
.de-icon-doc-1:before { content: '\e9ff'; } /* 'î§¿' */
.de-icon-docs-1:before { content: '\ea00'; } /* 'î¨€' */
.de-icon-doc-landscape:before { content: '\ea01'; } /* 'î¨' */
.de-icon-doc-text-1:before { content: '\ea02'; } /* 'î¨‚' */
.de-icon-doc-text-inv-1:before { content: '\ea03'; } /* 'î¨ƒ' */
.de-icon-newspaper:before { content: '\ea04'; } /* 'î¨„' */
.de-icon-book-open:before { content: '\ea05'; } /* 'î¨…' */
.de-icon-book-1:before { content: '\ea06'; } /* 'î¨†' */
.de-icon-folder-1:before { content: '\ea07'; } /* 'î¨‡' */
.de-icon-archive:before { content: '\ea08'; } /* 'î¨ˆ' */
.de-icon-box-1:before { content: '\ea09'; } /* 'î¨‰' */
.de-icon-rss-1:before { content: '\ea0a'; } /* 'î¨Š' */
.de-icon-phone-1:before { content: '\ea0b'; } /* 'î¨‹' */
.de-icon-cog-1:before { content: '\ea0c'; } /* 'î¨Œ' */
.de-icon-tools:before { content: '\ea0d'; } /* 'î¨' */
.de-icon-share-1:before { content: '\ea0e'; } /* 'î¨Ž' */
.de-icon-shareable:before { content: '\ea0f'; } /* 'î¨' */
.de-icon-basket-1:before { content: '\ea10'; } /* 'î¨' */
.de-icon-bag:before { content: '\ea11'; } /* 'î¨‘' */
.de-icon-calendar-1:before { content: '\ea12'; } /* 'î¨’' */
.de-icon-login-1:before { content: '\ea13'; } /* 'î¨“' */
.de-icon-logout-1:before { content: '\ea14'; } /* 'î¨”' */
.de-icon-mic-1:before { content: '\ea15'; } /* 'î¨•' */
.de-icon-mute-1:before { content: '\ea16'; } /* 'î¨–' */
.de-icon-sound:before { content: '\ea17'; } /* 'î¨—' */
.de-icon-volume:before { content: '\ea18'; } /* 'î¨˜' */
.de-icon-clock-1:before { content: '\ea19'; } /* 'î¨™' */
.de-icon-hourglass:before { content: '\ea1a'; } /* 'î¨š' */
.de-icon-lamp:before { content: '\ea1b'; } /* 'î¨›' */
.de-icon-light-down:before { content: '\ea1c'; } /* 'î¨œ' */
.de-icon-light-up:before { content: '\ea1d'; } /* 'î¨' */
.de-icon-adjust:before { content: '\ea1e'; } /* 'î¨ž' */
.de-icon-block-1:before { content: '\ea1f'; } /* 'î¨Ÿ' */
.de-icon-resize-full-1:before { content: '\ea20'; } /* 'î¨ ' */
.de-icon-resize-small-1:before { content: '\ea21'; } /* 'î¨¡' */
.de-icon-popup:before { content: '\ea22'; } /* 'î¨¢' */
.de-icon-publish:before { content: '\ea23'; } /* 'î¨£' */
.de-icon-window:before { content: '\ea24'; } /* 'î¨¤' */
.de-icon-arrow-combo:before { content: '\ea25'; } /* 'î¨¥' */
.de-icon-down-circled-1:before { content: '\ea26'; } /* 'î¨¦' */
.de-icon-left-circled-1:before { content: '\ea27'; } /* 'î¨§' */
.de-icon-right-circled-1:before { content: '\ea28'; } /* 'î¨¨' */
.de-icon-up-circled-1:before { content: '\ea29'; } /* 'î¨©' */
.de-icon-down-open-1:before { content: '\ea2a'; } /* 'î¨ª' */
.de-icon-left-open-1:before { content: '\ea2b'; } /* 'î¨«' */
.de-icon-right-open-1:before { content: '\ea2c'; } /* 'î¨¬' */
.de-icon-up-open-1:before { content: '\ea2d'; } /* 'î¨­' */
.de-icon-down-open-mini:before { content: '\ea2e'; } /* 'î¨®' */
.de-icon-left-open-mini:before { content: '\ea2f'; } /* 'î¨¯' */
.de-icon-right-open-mini:before { content: '\ea30'; } /* 'î¨°' */
.de-icon-up-open-mini:before { content: '\ea31'; } /* 'î¨±' */
.de-icon-down-open-big:before { content: '\ea32'; } /* 'î¨²' */
.de-icon-left-open-big:before { content: '\ea33'; } /* 'î¨³' */
.de-icon-right-open-big:before { content: '\ea34'; } /* 'î¨´' */
.de-icon-up-open-big:before { content: '\ea35'; } /* 'î¨µ' */
.de-icon-down-1:before { content: '\ea36'; } /* 'î¨¶' */
.de-icon-left-1:before { content: '\ea37'; } /* 'î¨·' */
.de-icon-right-1:before { content: '\ea38'; } /* 'î¨¸' */
.de-icon-up-1:before { content: '\ea39'; } /* 'î¨¹' */
.de-icon-down-dir-1:before { content: '\ea3a'; } /* 'î¨º' */
.de-icon-left-dir-1:before { content: '\ea3b'; } /* 'î¨»' */
.de-icon-right-dir-1:before { content: '\ea3c'; } /* 'î¨¼' */
.de-icon-up-dir-1:before { content: '\ea3d'; } /* 'î¨½' */
.de-icon-down-bold:before { content: '\ea3e'; } /* 'î¨¾' */
.de-icon-left-bold:before { content: '\ea3f'; } /* 'î¨¿' */
.de-icon-right-bold:before { content: '\ea40'; } /* 'î©€' */
.de-icon-up-bold:before { content: '\ea41'; } /* 'î©' */
.de-icon-down-thin:before { content: '\ea42'; } /* 'î©‚' */
.de-icon-left-thin:before { content: '\ea43'; } /* 'î©ƒ' */
.de-icon-right-thin:before { content: '\ea44'; } /* 'î©„' */
.de-icon-up-thin:before { content: '\ea45'; } /* 'î©…' */
.de-icon-ccw-1:before { content: '\ea46'; } /* 'î©†' */
.de-icon-cw-1:before { content: '\ea47'; } /* 'î©‡' */
.de-icon-arrows-ccw:before { content: '\ea48'; } /* 'î©ˆ' */
.de-icon-level-down-1:before { content: '\ea49'; } /* 'î©‰' */
.de-icon-level-up-1:before { content: '\ea4a'; } /* 'î©Š' */
.de-icon-shuffle-1:before { content: '\ea4b'; } /* 'î©‹' */
.de-icon-loop:before { content: '\ea4c'; } /* 'î©Œ' */
.de-icon-switch:before { content: '\ea4d'; } /* 'î©' */
.de-icon-play-1:before { content: '\ea4e'; } /* 'î©Ž' */
.de-icon-stop-1:before { content: '\ea4f'; } /* 'î©' */
.de-icon-pause-1:before { content: '\ea50'; } /* 'î©' */
.de-icon-record:before { content: '\ea51'; } /* 'î©‘' */
.de-icon-to-end-1:before { content: '\ea52'; } /* 'î©’' */
.de-icon-to-start-1:before { content: '\ea53'; } /* 'î©“' */
.de-icon-fast-forward:before { content: '\ea54'; } /* 'î©”' */
.de-icon-fast-backward:before { content: '\ea55'; } /* 'î©•' */
.de-icon-progress-0:before { content: '\ea56'; } /* 'î©–' */
.de-icon-progress-1:before { content: '\ea57'; } /* 'î©—' */
.de-icon-progress-2:before { content: '\ea58'; } /* 'î©˜' */
.de-icon-progress-3:before { content: '\ea59'; } /* 'î©™' */
.de-icon-target-1:before { content: '\ea5a'; } /* 'î©š' */
.de-icon-palette:before { content: '\ea5b'; } /* 'î©›' */
.de-icon-list-1:before { content: '\ea5c'; } /* 'î©œ' */
.de-icon-list-add:before { content: '\ea5d'; } /* 'î©' */
.de-icon-signal-1:before { content: '\ea5e'; } /* 'î©ž' */
.de-icon-trophy:before { content: '\ea5f'; } /* 'î©Ÿ' */
.de-icon-battery:before { content: '\ea60'; } /* 'î© ' */
.de-icon-back-in-time:before { content: '\ea61'; } /* 'î©¡' */
.de-icon-monitor:before { content: '\ea62'; } /* 'î©¢' */
.de-icon-mobile-1:before { content: '\ea63'; } /* 'î©£' */
.de-icon-network:before { content: '\ea64'; } /* 'î©¤' */
.de-icon-cd:before { content: '\ea65'; } /* 'î©¥' */
.de-icon-inbox-1:before { content: '\ea66'; } /* 'î©¦' */
.de-icon-install:before { content: '\ea67'; } /* 'î©§' */
.de-icon-globe-1:before { content: '\ea68'; } /* 'î©¨' */
.de-icon-cloud-1:before { content: '\ea69'; } /* 'î©©' */
.de-icon-cloud-thunder:before { content: '\ea6a'; } /* 'î©ª' */
.de-icon-flash-1:before { content: '\ea6b'; } /* 'î©«' */
.de-icon-moon-1:before { content: '\ea6c'; } /* 'î©¬' */
.de-icon-flight-1:before { content: '\ea6d'; } /* 'î©­' */
.de-icon-paper-plane-1:before { content: '\ea6e'; } /* 'î©®' */
.de-icon-leaf-1:before { content: '\ea6f'; } /* 'î©¯' */
.de-icon-lifebuoy-1:before { content: '\ea70'; } /* 'î©°' */
.de-icon-mouse:before { content: '\ea71'; } /* 'î©±' */
.de-icon-briefcase-1:before { content: '\ea72'; } /* 'î©²' */
.de-icon-suitcase-1:before { content: '\ea73'; } /* 'î©³' */
.de-icon-dot:before { content: '\ea74'; } /* 'î©´' */
.de-icon-dot-2:before { content: '\ea75'; } /* 'î©µ' */
.de-icon-dot-3:before { content: '\ea76'; } /* 'î©¶' */
.de-icon-brush:before { content: '\ea77'; } /* 'î©·' */
.de-icon-magnet-1:before { content: '\ea78'; } /* 'î©¸' */
.de-icon-infinity:before { content: '\ea79'; } /* 'î©¹' */
.de-icon-erase:before { content: '\ea7a'; } /* 'î©º' */
.de-icon-chart-pie:before { content: '\ea7b'; } /* 'î©»' */
.de-icon-chart-line:before { content: '\ea7c'; } /* 'î©¼' */
.de-icon-chart-bar-1:before { content: '\ea7d'; } /* 'î©½' */
.de-icon-chart-area:before { content: '\ea7e'; } /* 'î©¾' */
.de-icon-tape:before { content: '\ea7f'; } /* 'î©¿' */
.de-icon-graduation-cap-1:before { content: '\ea80'; } /* 'îª€' */
.de-icon-language-1:before { content: '\ea81'; } /* 'îª' */
.de-icon-ticket-1:before { content: '\ea82'; } /* 'îª‚' */
.de-icon-water:before { content: '\ea83'; } /* 'îªƒ' */
.de-icon-droplet:before { content: '\ea84'; } /* 'îª„' */
.de-icon-air:before { content: '\ea85'; } /* 'îª…' */
.de-icon-credit-card-1:before { content: '\ea86'; } /* 'îª†' */
.de-icon-floppy-1:before { content: '\ea87'; } /* 'îª‡' */
.de-icon-clipboard:before { content: '\ea88'; } /* 'îªˆ' */
.de-icon-megaphone-1:before { content: '\ea89'; } /* 'îª‰' */
.de-icon-database-1:before { content: '\ea8a'; } /* 'îªŠ' */
.de-icon-drive:before { content: '\ea8b'; } /* 'îª‹' */
.de-icon-bucket:before { content: '\ea8c'; } /* 'îªŒ' */
.de-icon-thermometer:before { content: '\ea8d'; } /* 'îª' */
.de-icon-key-1:before { content: '\ea8e'; } /* 'îªŽ' */
.de-icon-flow-cascade:before { content: '\ea8f'; } /* 'îª' */
.de-icon-flow-branch:before { content: '\ea90'; } /* 'îª' */
.de-icon-flow-tree:before { content: '\ea91'; } /* 'îª‘' */
.de-icon-flow-line:before { content: '\ea92'; } /* 'îª’' */
.de-icon-flow-parallel:before { content: '\ea93'; } /* 'îª“' */
.de-icon-rocket-1:before { content: '\ea94'; } /* 'îª”' */
.de-icon-gauge-1:before { content: '\ea95'; } /* 'îª•' */
.de-icon-traffic-cone:before { content: '\ea96'; } /* 'îª–' */
.de-icon-cc:before { content: '\ea97'; } /* 'îª—' */
.de-icon-cc-by:before { content: '\ea98'; } /* 'îª˜' */
.de-icon-cc-nc:before { content: '\ea99'; } /* 'îª™' */
.de-icon-cc-nc-eu:before { content: '\ea9a'; } /* 'îªš' */
.de-icon-cc-nc-jp:before { content: '\ea9b'; } /* 'îª›' */
.de-icon-cc-sa:before { content: '\ea9c'; } /* 'îªœ' */
.de-icon-cc-nd:before { content: '\ea9d'; } /* 'îª' */
.de-icon-cc-pd:before { content: '\ea9e'; } /* 'îªž' */
.de-icon-cc-zero:before { content: '\ea9f'; } /* 'îªŸ' */
.de-icon-cc-share:before { content: '\eaa0'; } /* 'îª ' */
.de-icon-cc-remix:before { content: '\eaa1'; } /* 'îª¡' */
.de-icon-github-1:before { content: '\eaa2'; } /* 'îª¢' */
.de-icon-github-circled-1:before { content: '\eaa3'; } /* 'îª£' */
.de-icon-flickr-1:before { content: '\eaa4'; } /* 'îª¤' */
.de-icon-flickr-circled:before { content: '\eaa5'; } /* 'îª¥' */
.de-icon-vimeo:before { content: '\eaa6'; } /* 'îª¦' */
.de-icon-vimeo-circled:before { content: '\eaa7'; } /* 'îª§' */
.de-icon-twitter-1:before { content: '\eaa8'; } /* 'îª¨' */
.de-icon-twitter-circled:before { content: '\eaa9'; } /* 'îª©' */
.de-icon-facebook-1:before { content: '\eaaa'; } /* 'îªª' */
.de-icon-facebook-circled:before { content: '\eaab'; } /* 'îª«' */
.de-icon-facebook-squared-1:before { content: '\eaac'; } /* 'îª¬' */
.de-icon-gplus-1:before { content: '\eaad'; } /* 'îª­' */
.de-icon-gplus-circled:before { content: '\eaae'; } /* 'îª®' */
.de-icon-pinterest:before { content: '\eaaf'; } /* 'îª¯' */
.de-icon-pinterest-circled-1:before { content: '\eab0'; } /* 'îª°' */
.de-icon-tumblr-1:before { content: '\eab1'; } /* 'îª±' */
.de-icon-tumblr-circled:before { content: '\eab2'; } /* 'îª²' */
.de-icon-linkedin-1:before { content: '\eab3'; } /* 'îª³' */
.de-icon-linkedin-circled:before { content: '\eab4'; } /* 'îª´' */
.de-icon-dribbble-1:before { content: '\eab5'; } /* 'îªµ' */
.de-icon-dribbble-circled:before { content: '\eab6'; } /* 'îª¶' */
.de-icon-stumbleupon-1:before { content: '\eab7'; } /* 'îª·' */
.de-icon-stumbleupon-circled-1:before { content: '\eab8'; } /* 'îª¸' */
.de-icon-lastfm:before { content: '\eab9'; } /* 'îª¹' */
.de-icon-lastfm-circled:before { content: '\eaba'; } /* 'îªº' */
.de-icon-rdio:before { content: '\eabb'; } /* 'îª»' */
.de-icon-rdio-circled:before { content: '\eabc'; } /* 'îª¼' */
.de-icon-spotify-1:before { content: '\eabd'; } /* 'îª½' */
.de-icon-spotify-circled:before { content: '\eabe'; } /* 'îª¾' */
.de-icon-qq-1:before { content: '\eabf'; } /* 'îª¿' */
.de-icon-instagram:before { content: '\eac0'; } /* 'î«€' */
.de-icon-dropbox-1:before { content: '\eac1'; } /* 'î«' */
.de-icon-evernote:before { content: '\eac2'; } /* 'î«‚' */
.de-icon-flattr:before { content: '\eac3'; } /* 'î«ƒ' */
.de-icon-skype-1:before { content: '\eac4'; } /* 'î«„' */
.de-icon-skype-circled:before { content: '\eac5'; } /* 'î«…' */
.de-icon-renren-1:before { content: '\eac6'; } /* 'î«†' */
.de-icon-sina-weibo:before { content: '\eac7'; } /* 'î«‡' */
.de-icon-paypal:before { content: '\eac8'; } /* 'î«ˆ' */
.de-icon-picasa:before { content: '\eac9'; } /* 'î«‰' */
.de-icon-soundcloud:before { content: '\eaca'; } /* 'î«Š' */
.de-icon-mixi:before { content: '\eacb'; } /* 'î«‹' */
.de-icon-behance-1:before { content: '\eacc'; } /* 'î«Œ' */
.de-icon-google-circles:before { content: '\eacd'; } /* 'î«' */
.de-icon-vkontakte-1:before { content: '\eace'; } /* 'î«Ž' */
.de-icon-smashing:before { content: '\eacf'; } /* 'î«' */
.de-icon-sweden:before { content: '\ead0'; } /* 'î«' */
.de-icon-db-shape:before { content: '\ead1'; } /* 'î«‘' */
.de-icon-logo-db:before { content: '\ead2'; } /* 'î«’' */
.de-icon-music-outline:before { content: '\ead3'; } /* 'î«“' */
.de-icon-music-2:before { content: '\ead4'; } /* 'î«”' */
.de-icon-search-outline:before { content: '\ead5'; } /* 'î«•' */
.de-icon-search-2:before { content: '\ead6'; } /* 'î«–' */
.de-icon-mail-2:before { content: '\ead7'; } /* 'î«—' */
.de-icon-heart-2:before { content: '\ead8'; } /* 'î«˜' */
.de-icon-heart-filled:before { content: '\ead9'; } /* 'î«™' */
.de-icon-star-2:before { content: '\eada'; } /* 'î«š' */
.de-icon-star-filled:before { content: '\eadb'; } /* 'î«›' */
.de-icon-user-outline:before { content: '\eadc'; } /* 'î«œ' */
.de-icon-user-2:before { content: '\eadd'; } /* 'î«' */
.de-icon-users-outline:before { content: '\eade'; } /* 'î«ž' */
.de-icon-users-2:before { content: '\eadf'; } /* 'î«Ÿ' */
.de-icon-user-add-outline:before { content: '\eae0'; } /* 'î« ' */
.de-icon-user-add-1:before { content: '\eae1'; } /* 'î«¡' */
.de-icon-user-delete-outline:before { content: '\eae2'; } /* 'î«¢' */
.de-icon-user-delete:before { content: '\eae3'; } /* 'î«£' */
.de-icon-video-2:before { content: '\eae4'; } /* 'î«¤' */
.de-icon-videocam-outline:before { content: '\eae5'; } /* 'î«¥' */
.de-icon-videocam-1:before { content: '\eae6'; } /* 'î«¦' */
.de-icon-picture-outline:before { content: '\eae7'; } /* 'î«§' */
.de-icon-picture-2:before { content: '\eae8'; } /* 'î«¨' */
.de-icon-camera-outline:before { content: '\eae9'; } /* 'î«©' */
.de-icon-camera-2:before { content: '\eaea'; } /* 'î«ª' */
.de-icon-th-outline:before { content: '\eaeb'; } /* 'î««' */
.de-icon-th-1:before { content: '\eaec'; } /* 'î«¬' */
.de-icon-th-large-outline:before { content: '\eaed'; } /* 'î«­' */
.de-icon-th-large-1:before { content: '\eaee'; } /* 'î«®' */
.de-icon-th-list-outline:before { content: '\eaef'; } /* 'î«¯' */
.de-icon-th-list-1:before { content: '\eaf0'; } /* 'î«°' */
.de-icon-ok-outline:before { content: '\eaf1'; } /* 'î«±' */
.de-icon-ok-1:before { content: '\eaf2'; } /* 'î«²' */
.de-icon-cancel-outline:before { content: '\eaf3'; } /* 'î«³' */
.de-icon-cancel-2:before { content: '\eaf4'; } /* 'î«´' */
.de-icon-cancel-alt:before { content: '\eaf5'; } /* 'î«µ' */
.de-icon-cancel-alt-filled:before { content: '\eaf6'; } /* 'î«¶' */
.de-icon-cancel-circled-outline:before { content: '\eaf7'; } /* 'î«·' */
.de-icon-cancel-circled-2:before { content: '\eaf8'; } /* 'î«¸' */
.de-icon-plus-outline:before { content: '\eaf9'; } /* 'î«¹' */
.de-icon-plus-2:before { content: '\eafa'; } /* 'î«º' */
.de-icon-minus-outline:before { content: '\eafb'; } /* 'î«»' */
.de-icon-minus-2:before { content: '\eafc'; } /* 'î«¼' */
.de-icon-divide-outline:before { content: '\eafd'; } /* 'î«½' */
.de-icon-divide:before { content: '\eafe'; } /* 'î«¾' */
.de-icon-eq-outline:before { content: '\eaff'; } /* 'î«¿' */
.de-icon-eq:before { content: '\eb00'; } /* 'î¬€' */
.de-icon-info-outline:before { content: '\eb01'; } /* 'î¬' */
.de-icon-info-2:before { content: '\eb02'; } /* 'î¬‚' */
.de-icon-home-outline:before { content: '\eb03'; } /* 'î¬ƒ' */
.de-icon-home-2:before { content: '\eb04'; } /* 'î¬„' */
.de-icon-link-outline:before { content: '\eb05'; } /* 'î¬…' */
.de-icon-link-2:before { content: '\eb06'; } /* 'î¬†' */
.de-icon-attach-outline:before { content: '\eb07'; } /* 'î¬‡' */
.de-icon-attach-2:before { content: '\eb08'; } /* 'î¬ˆ' */
.de-icon-lock-2:before { content: '\eb09'; } /* 'î¬‰' */
.de-icon-lock-filled:before { content: '\eb0a'; } /* 'î¬Š' */
.de-icon-lock-open-2:before { content: '\eb0b'; } /* 'î¬‹' */
.de-icon-lock-open-filled:before { content: '\eb0c'; } /* 'î¬Œ' */
.de-icon-pin-outline:before { content: '\eb0d'; } /* 'î¬' */
.de-icon-pin-1:before { content: '\eb0e'; } /* 'î¬Ž' */
.de-icon-eye-outline:before { content: '\eb0f'; } /* 'î¬' */
.de-icon-eye-2:before { content: '\eb10'; } /* 'î¬' */
.de-icon-tag-2:before { content: '\eb11'; } /* 'î¬‘' */
.de-icon-tags-1:before { content: '\eb12'; } /* 'î¬’' */
.de-icon-bookmark-2:before { content: '\eb13'; } /* 'î¬“' */
.de-icon-flag-2:before { content: '\eb14'; } /* 'î¬”' */
.de-icon-flag-filled:before { content: '\eb15'; } /* 'î¬•' */
.de-icon-thumbs-up-2:before { content: '\eb16'; } /* 'î¬–' */
.de-icon-thumbs-down-2:before { content: '\eb17'; } /* 'î¬—' */
.de-icon-download-outline:before { content: '\eb18'; } /* 'î¬˜' */
.de-icon-download-2:before { content: '\eb19'; } /* 'î¬™' */
.de-icon-upload-outline:before { content: '\eb1a'; } /* 'î¬š' */
.de-icon-upload-2:before { content: '\eb1b'; } /* 'î¬›' */
.de-icon-upload-cloud-outline:before { content: '\eb1c'; } /* 'î¬œ' */
.de-icon-upload-cloud-2:before { content: '\eb1d'; } /* 'î¬' */
.de-icon-reply-outline:before { content: '\eb1e'; } /* 'î¬ž' */
.de-icon-reply-2:before { content: '\eb1f'; } /* 'î¬Ÿ' */
.de-icon-forward-outline:before { content: '\eb20'; } /* 'î¬ ' */
.de-icon-forward-2:before { content: '\eb21'; } /* 'î¬¡' */
.de-icon-code-outline:before { content: '\eb22'; } /* 'î¬¢' */
.de-icon-code-2:before { content: '\eb23'; } /* 'î¬£' */
.de-icon-export-outline:before { content: '\eb24'; } /* 'î¬¤' */
.de-icon-export-2:before { content: '\eb25'; } /* 'î¬¥' */
.de-icon-pencil-2:before { content: '\eb26'; } /* 'î¬¦' */
.de-icon-pen:before { content: '\eb27'; } /* 'î¬§' */
.de-icon-feather-1:before { content: '\eb28'; } /* 'î¬¨' */
.de-icon-edit-1:before { content: '\eb29'; } /* 'î¬©' */
.de-icon-print-2:before { content: '\eb2a'; } /* 'î¬ª' */
.de-icon-comment-2:before { content: '\eb2b'; } /* 'î¬«' */
.de-icon-chat-2:before { content: '\eb2c'; } /* 'î¬¬' */
.de-icon-chat-alt:before { content: '\eb2d'; } /* 'î¬­' */
.de-icon-bell-2:before { content: '\eb2e'; } /* 'î¬®' */
.de-icon-attention-2:before { content: '\eb2f'; } /* 'î¬¯' */
.de-icon-attention-filled:before { content: '\eb30'; } /* 'î¬°' */
.de-icon-warning-empty:before { content: '\eb31'; } /* 'î¬±' */
.de-icon-warning:before { content: '\eb32'; } /* 'î¬²' */
.de-icon-contacts:before { content: '\eb33'; } /* 'î¬³' */
.de-icon-vcard-1:before { content: '\eb34'; } /* 'î¬´' */
.de-icon-address-1:before { content: '\eb35'; } /* 'î¬µ' */
.de-icon-location-outline:before { content: '\eb36'; } /* 'î¬¶' */
.de-icon-location-2:before { content: '\eb37'; } /* 'î¬·' */
.de-icon-map-1:before { content: '\eb38'; } /* 'î¬¸' */
.de-icon-direction-outline:before { content: '\eb39'; } /* 'î¬¹' */
.de-icon-direction-2:before { content: '\eb3a'; } /* 'î¬º' */
.de-icon-compass-2:before { content: '\eb3b'; } /* 'î¬»' */
.de-icon-trash-2:before { content: '\eb3c'; } /* 'î¬¼' */
.de-icon-doc-2:before { content: '\eb3d'; } /* 'î¬½' */
.de-icon-doc-text-2:before { content: '\eb3e'; } /* 'î¬¾' */
.de-icon-doc-add:before { content: '\eb3f'; } /* 'î¬¿' */
.de-icon-doc-remove:before { content: '\eb40'; } /* 'î­€' */
.de-icon-news:before { content: '\eb41'; } /* 'î­' */
.de-icon-folder-2:before { content: '\eb42'; } /* 'î­‚' */
.de-icon-folder-add:before { content: '\eb43'; } /* 'î­ƒ' */
.de-icon-folder-delete:before { content: '\eb44'; } /* 'î­„' */
.de-icon-archive-1:before { content: '\eb45'; } /* 'î­…' */
.de-icon-box-2:before { content: '\eb46'; } /* 'î­†' */
.de-icon-rss-outline:before { content: '\eb47'; } /* 'î­‡' */
.de-icon-rss-2:before { content: '\eb48'; } /* 'î­ˆ' */
.de-icon-phone-outline:before { content: '\eb49'; } /* 'î­‰' */
.de-icon-phone-2:before { content: '\eb4a'; } /* 'î­Š' */
.de-icon-menu-outline:before { content: '\eb4b'; } /* 'î­‹' */
.de-icon-menu-2:before { content: '\eb4c'; } /* 'î­Œ' */
.de-icon-cog-outline:before { content: '\eb4d'; } /* 'î­' */
.de-icon-cog-2:before { content: '\eb4e'; } /* 'î­Ž' */
.de-icon-wrench-outline:before { content: '\eb4f'; } /* 'î­' */
.de-icon-wrench-1:before { content: '\eb50'; } /* 'î­' */
.de-icon-basket-2:before { content: '\eb51'; } /* 'î­‘' */
.de-icon-calendar-outlilne:before { content: '\eb52'; } /* 'î­’' */
.de-icon-calendar-2:before { content: '\eb53'; } /* 'î­“' */
.de-icon-mic-outline:before { content: '\eb54'; } /* 'î­”' */
.de-icon-mic-2:before { content: '\eb55'; } /* 'î­•' */
.de-icon-volume-off-1:before { content: '\eb56'; } /* 'î­–' */
.de-icon-volume-low:before { content: '\eb57'; } /* 'î­—' */
.de-icon-volume-middle:before { content: '\eb58'; } /* 'î­˜' */
.de-icon-volume-high:before { content: '\eb59'; } /* 'î­™' */
.de-icon-headphones-1:before { content: '\eb5a'; } /* 'î­š' */
.de-icon-clock-2:before { content: '\eb5b'; } /* 'î­›' */
.de-icon-wristwatch:before { content: '\eb5c'; } /* 'î­œ' */
.de-icon-stopwatch:before { content: '\eb5d'; } /* 'î­' */
.de-icon-lightbulb-1:before { content: '\eb5e'; } /* 'î­ž' */
.de-icon-block-outline:before { content: '\eb5f'; } /* 'î­Ÿ' */
.de-icon-block-2:before { content: '\eb60'; } /* 'î­ ' */
.de-icon-resize-full-outline:before { content: '\eb61'; } /* 'î­¡' */
.de-icon-resize-full-2:before { content: '\eb62'; } /* 'î­¢' */
.de-icon-resize-normal-outline:before { content: '\eb63'; } /* 'î­£' */
.de-icon-resize-normal:before { content: '\eb64'; } /* 'î­¤' */
.de-icon-move-outline:before { content: '\eb65'; } /* 'î­¥' */
.de-icon-move-1:before { content: '\eb66'; } /* 'î­¦' */
.de-icon-popup-1:before { content: '\eb67'; } /* 'î­§' */
.de-icon-zoom-in-outline:before { content: '\eb68'; } /* 'î­¨' */
.de-icon-zoom-in-1:before { content: '\eb69'; } /* 'î­©' */
.de-icon-zoom-out-outline:before { content: '\eb6a'; } /* 'î­ª' */
.de-icon-zoom-out-1:before { content: '\eb6b'; } /* 'î­«' */
.de-icon-popup-2:before { content: '\eb6c'; } /* 'î­¬' */
.de-icon-left-open-outline:before { content: '\eb6d'; } /* 'î­­' */
.de-icon-left-open-2:before { content: '\eb6e'; } /* 'î­®' */
.de-icon-right-open-outline:before { content: '\eb6f'; } /* 'î­¯' */
.de-icon-right-open-2:before { content: '\eb70'; } /* 'î­°' */
.de-icon-down-2:before { content: '\eb71'; } /* 'î­±' */
.de-icon-left-2:before { content: '\eb72'; } /* 'î­²' */
.de-icon-right-2:before { content: '\eb73'; } /* 'î­³' */
.de-icon-up-2:before { content: '\eb74'; } /* 'î­´' */
.de-icon-down-outline:before { content: '\eb75'; } /* 'î­µ' */
.de-icon-left-outline:before { content: '\eb76'; } /* 'î­¶' */
.de-icon-right-outline:before { content: '\eb77'; } /* 'î­·' */
.de-icon-up-outline:before { content: '\eb78'; } /* 'î­¸' */
.de-icon-down-small:before { content: '\eb79'; } /* 'î­¹' */
.de-icon-left-small:before { content: '\eb7a'; } /* 'î­º' */
.de-icon-right-small:before { content: '\eb7b'; } /* 'î­»' */
.de-icon-up-small:before { content: '\eb7c'; } /* 'î­¼' */
.de-icon-cw-outline:before { content: '\eb7d'; } /* 'î­½' */
.de-icon-cw-2:before { content: '\eb7e'; } /* 'î­¾' */
.de-icon-arrows-cw-outline:before { content: '\eb7f'; } /* 'î­¿' */
.de-icon-arrows-cw-1:before { content: '\eb80'; } /* 'î®€' */
.de-icon-loop-outline:before { content: '\eb81'; } /* 'î®' */
.de-icon-loop-1:before { content: '\eb82'; } /* 'î®‚' */
.de-icon-loop-alt-outline:before { content: '\eb83'; } /* 'î®ƒ' */
.de-icon-loop-alt:before { content: '\eb84'; } /* 'î®„' */
.de-icon-shuffle-2:before { content: '\eb85'; } /* 'î®…' */
.de-icon-play-outline:before { content: '\eb86'; } /* 'î®†' */
.de-icon-play-2:before { content: '\eb87'; } /* 'î®‡' */
.de-icon-stop-outline:before { content: '\eb88'; } /* 'î®ˆ' */
.de-icon-stop-2:before { content: '\eb89'; } /* 'î®‰' */
.de-icon-pause-outline:before { content: '\eb8a'; } /* 'î®Š' */
.de-icon-pause-2:before { content: '\eb8b'; } /* 'î®‹' */
.de-icon-fast-fw-outline:before { content: '\eb8c'; } /* 'î®Œ' */
.de-icon-fast-fw-1:before { content: '\eb8d'; } /* 'î®' */
.de-icon-rewind-outline:before { content: '\eb8e'; } /* 'î®Ž' */
.de-icon-rewind:before { content: '\eb8f'; } /* 'î®' */
.de-icon-record-outline:before { content: '\eb90'; } /* 'î®' */
.de-icon-record-1:before { content: '\eb91'; } /* 'î®‘' */
.de-icon-eject-outline:before { content: '\eb92'; } /* 'î®’' */
.de-icon-eject-1:before { content: '\eb93'; } /* 'î®“' */
.de-icon-eject-alt-outline:before { content: '\eb94'; } /* 'î®”' */
.de-icon-eject-alt:before { content: '\eb95'; } /* 'î®•' */
.de-icon-bat1:before { content: '\eb96'; } /* 'î®–' */
.de-icon-bat2:before { content: '\eb97'; } /* 'î®—' */
.de-icon-bat3:before { content: '\eb98'; } /* 'î®˜' */
.de-icon-bat4:before { content: '\eb99'; } /* 'î®™' */
.de-icon-bat-charge:before { content: '\eb9a'; } /* 'î®š' */
.de-icon-plug:before { content: '\eb9b'; } /* 'î®›' */
.de-icon-target-outline:before { content: '\eb9c'; } /* 'î®œ' */
.de-icon-target-2:before { content: '\eb9d'; } /* 'î®' */
.de-icon-wifi-outline:before { content: '\eb9e'; } /* 'î®ž' */
.de-icon-wifi:before { content: '\eb9f'; } /* 'î®Ÿ' */
.de-icon-desktop-1:before { content: '\eba0'; } /* 'î® ' */
.de-icon-laptop-1:before { content: '\eba1'; } /* 'î®¡' */
.de-icon-tablet-1:before { content: '\eba2'; } /* 'î®¢' */
.de-icon-mobile-2:before { content: '\eba3'; } /* 'î®£' */
.de-icon-contrast:before { content: '\eba4'; } /* 'î®¤' */
.de-icon-globe-outline:before { content: '\eba5'; } /* 'î®¥' */
.de-icon-globe-2:before { content: '\eba6'; } /* 'î®¦' */
.de-icon-globe-alt-outline:before { content: '\eba7'; } /* 'î®§' */
.de-icon-globe-alt:before { content: '\eba8'; } /* 'î®¨' */
.de-icon-sun-1:before { content: '\eba9'; } /* 'î®©' */
.de-icon-sun-filled:before { content: '\ebaa'; } /* 'î®ª' */
.de-icon-cloud-2:before { content: '\ebab'; } /* 'î®«' */
.de-icon-flash-outline:before { content: '\ebac'; } /* 'î®¬' */
.de-icon-flash-2:before { content: '\ebad'; } /* 'î®­' */
.de-icon-moon-2:before { content: '\ebae'; } /* 'î®®' */
.de-icon-waves-outline:before { content: '\ebaf'; } /* 'î®¯' */
.de-icon-waves:before { content: '\ebb0'; } /* 'î®°' */
.de-icon-rain:before { content: '\ebb1'; } /* 'î®±' */
.de-icon-cloud-sun:before { content: '\ebb2'; } /* 'î®²' */
.de-icon-drizzle:before { content: '\ebb3'; } /* 'î®³' */
.de-icon-snow:before { content: '\ebb4'; } /* 'î®´' */
.de-icon-cloud-flash:before { content: '\ebb5'; } /* 'î®µ' */
.de-icon-cloud-wind:before { content: '\ebb6'; } /* 'î®¶' */
.de-icon-wind:before { content: '\ebb7'; } /* 'î®·' */
.de-icon-plane-outline:before { content: '\ebb8'; } /* 'î®¸' */
.de-icon-plane:before { content: '\ebb9'; } /* 'î®¹' */
.de-icon-leaf-2:before { content: '\ebba'; } /* 'î®º' */
.de-icon-lifebuoy-2:before { content: '\ebbb'; } /* 'î®»' */
.de-icon-briefcase-2:before { content: '\ebbc'; } /* 'î®¼' */
.de-icon-brush-1:before { content: '\ebbd'; } /* 'î®½' */
.de-icon-pipette:before { content: '\ebbe'; } /* 'î®¾' */
.de-icon-power-outline:before { content: '\ebbf'; } /* 'î®¿' */
.de-icon-power:before { content: '\ebc0'; } /* 'î¯€' */
.de-icon-check-outline:before { content: '\ebc1'; } /* 'î¯' */
.de-icon-check-2:before { content: '\ebc2'; } /* 'î¯‚' */
.de-icon-gift-1:before { content: '\ebc3'; } /* 'î¯ƒ' */
.de-icon-temperatire:before { content: '\ebc4'; } /* 'î¯„' */
.de-icon-chart-outline:before { content: '\ebc5'; } /* 'î¯…' */
.de-icon-chart:before { content: '\ebc6'; } /* 'î¯†' */
.de-icon-chart-alt-outline:before { content: '\ebc7'; } /* 'î¯‡' */
.de-icon-chart-alt:before { content: '\ebc8'; } /* 'î¯ˆ' */
.de-icon-chart-bar-outline:before { content: '\ebc9'; } /* 'î¯‰' */
.de-icon-chart-bar-2:before { content: '\ebca'; } /* 'î¯Š' */
.de-icon-chart-pie-outline:before { content: '\ebcb'; } /* 'î¯‹' */
.de-icon-chart-pie-1:before { content: '\ebcc'; } /* 'î¯Œ' */
.de-icon-ticket-2:before { content: '\ebcd'; } /* 'î¯' */
.de-icon-credit-card-2:before { content: '\ebce'; } /* 'î¯Ž' */
.de-icon-clipboard-1:before { content: '\ebcf'; } /* 'î¯' */
.de-icon-database-2:before { content: '\ebd0'; } /* 'î¯' */
.de-icon-key-outline:before { content: '\ebd1'; } /* 'î¯‘' */
.de-icon-key-2:before { content: '\ebd2'; } /* 'î¯’' */
.de-icon-flow-split:before { content: '\ebd3'; } /* 'î¯“' */
.de-icon-flow-merge:before { content: '\ebd4'; } /* 'î¯”' */
.de-icon-flow-parallel-1:before { content: '\ebd5'; } /* 'î¯•' */
.de-icon-flow-cross:before { content: '\ebd6'; } /* 'î¯–' */
.de-icon-certificate-outline:before { content: '\ebd7'; } /* 'î¯—' */
.de-icon-certificate-1:before { content: '\ebd8'; } /* 'î¯˜' */
.de-icon-scissors-outline:before { content: '\ebd9'; } /* 'î¯™' */
.de-icon-scissors-1:before { content: '\ebda'; } /* 'î¯š' */
.de-icon-flask:before { content: '\ebdb'; } /* 'î¯›' */
.de-icon-wine:before { content: '\ebdc'; } /* 'î¯œ' */
.de-icon-coffee-1:before { content: '\ebdd'; } /* 'î¯' */
.de-icon-beer-1:before { content: '\ebde'; } /* 'î¯ž' */
.de-icon-anchor-outline:before { content: '\ebdf'; } /* 'î¯Ÿ' */
.de-icon-anchor-1:before { content: '\ebe0'; } /* 'î¯ ' */
.de-icon-puzzle-outline:before { content: '\ebe1'; } /* 'î¯¡' */
.de-icon-puzzle-1:before { content: '\ebe2'; } /* 'î¯¢' */
.de-icon-tree-1:before { content: '\ebe3'; } /* 'î¯£' */
.de-icon-calculator:before { content: '\ebe4'; } /* 'î¯¤' */
.de-icon-infinity-outline:before { content: '\ebe5'; } /* 'î¯¥' */
.de-icon-infinity-1:before { content: '\ebe6'; } /* 'î¯¦' */
.de-icon-pi-outline:before { content: '\ebe7'; } /* 'î¯§' */
.de-icon-pi:before { content: '\ebe8'; } /* 'î¯¨' */
.de-icon-at:before { content: '\ebe9'; } /* 'î¯©' */
.de-icon-at-circled:before { content: '\ebea'; } /* 'î¯ª' */
.de-icon-looped-square-outline:before { content: '\ebeb'; } /* 'î¯«' */
.de-icon-looped-square-interest:before { content: '\ebec'; } /* 'î¯¬' */
.de-icon-sort-alphabet-outline:before { content: '\ebed'; } /* 'î¯­' */
.de-icon-sort-alphabet:before { content: '\ebee'; } /* 'î¯®' */
.de-icon-sort-numeric-outline:before { content: '\ebef'; } /* 'î¯¯' */
.de-icon-sort-numeric:before { content: '\ebf0'; } /* 'î¯°' */
.de-icon-dribbble-circled-1:before { content: '\ebf1'; } /* 'î¯±' */
.de-icon-dribbble-2:before { content: '\ebf2'; } /* 'î¯²' */
.de-icon-facebook-circled-1:before { content: '\ebf3'; } /* 'î¯³' */
.de-icon-facebook-2:before { content: '\ebf4'; } /* 'î¯´' */
.de-icon-flickr-circled-1:before { content: '\ebf5'; } /* 'î¯µ' */
.de-icon-flickr-2:before { content: '\ebf6'; } /* 'î¯¶' */
.de-icon-github-circled-2:before { content: '\ebf7'; } /* 'î¯·' */
.de-icon-github-2:before { content: '\ebf8'; } /* 'î¯¸' */
.de-icon-lastfm-circled-1:before { content: '\ebf9'; } /* 'î¯¹' */
.de-icon-lastfm-1:before { content: '\ebfa'; } /* 'î¯º' */
.de-icon-linkedin-circled-1:before { content: '\ebfb'; } /* 'î¯»' */
.de-icon-linkedin-2:before { content: '\ebfc'; } /* 'î¯¼' */
.de-icon-pinterest-circled-2:before { content: '\ebfd'; } /* 'î¯½' */
.de-icon-pinterest-1:before { content: '\ebfe'; } /* 'î¯¾' */
.de-icon-skype-outline:before { content: '\ebff'; } /* 'î¯¿' */
.de-icon-skype-2:before { content: '\ec00'; } /* 'î°€' */
.de-icon-tumbler-circled:before { content: '\ec01'; } /* 'î°' */
.de-icon-tumbler:before { content: '\ec02'; } /* 'î°‚' */
.de-icon-twitter-circled-1:before { content: '\ec03'; } /* 'î°ƒ' */
.de-icon-twitter-2:before { content: '\ec04'; } /* 'î°„' */
.de-icon-vimeo-circled-1:before { content: '\ec05'; } /* 'î°…' */
.de-icon-vimeo-1:before { content: '\ec06'; } /* 'î°†' */
.de-icon-glass-1:before { content: '\ec07'; } /* 'î°‡' */
.de-icon-music-3:before { content: '\ec08'; } /* 'î°ˆ' */
.de-icon-search-3:before { content: '\ec09'; } /* 'î°‰' */
.de-icon-search-circled:before { content: '\ec0a'; } /* 'î°Š' */
.de-icon-mail-3:before { content: '\ec0b'; } /* 'î°‹' */
.de-icon-mail-circled:before { content: '\ec0c'; } /* 'î°Œ' */
.de-icon-heart-3:before { content: '\ec0d'; } /* 'î°' */
.de-icon-heart-circled:before { content: '\ec0e'; } /* 'î°Ž' */
.de-icon-heart-empty-2:before { content: '\ec0f'; } /* 'î°' */
.de-icon-star-3:before { content: '\ec10'; } /* 'î°' */
.de-icon-star-circled:before { content: '\ec11'; } /* 'î°‘' */
.de-icon-star-empty-2:before { content: '\ec12'; } /* 'î°’' */
.de-icon-user-3:before { content: '\ec13'; } /* 'î°“' */
.de-icon-group:before { content: '\ec14'; } /* 'î°”' */
.de-icon-group-circled:before { content: '\ec15'; } /* 'î°•' */
.de-icon-torso:before { content: '\ec16'; } /* 'î°–' */
.de-icon-video-3:before { content: '\ec17'; } /* 'î°—' */
.de-icon-video-circled:before { content: '\ec18'; } /* 'î°˜' */
.de-icon-video-alt:before { content: '\ec19'; } /* 'î°™' */
.de-icon-videocam-2:before { content: '\ec1a'; } /* 'î°š' */
.de-icon-video-chat:before { content: '\ec1b'; } /* 'î°›' */
.de-icon-picture-3:before { content: '\ec1c'; } /* 'î°œ' */
.de-icon-camera-3:before { content: '\ec1d'; } /* 'î°' */
.de-icon-photo:before { content: '\ec1e'; } /* 'î°ž' */
.de-icon-photo-circled:before { content: '\ec1f'; } /* 'î°Ÿ' */
.de-icon-th-large-2:before { content: '\ec20'; } /* 'î° ' */
.de-icon-th-2:before { content: '\ec21'; } /* 'î°¡' */
.de-icon-th-list-2:before { content: '\ec22'; } /* 'î°¢' */
.de-icon-view-mode:before { content: '\ec23'; } /* 'î°£' */
.de-icon-ok-2:before { content: '\ec24'; } /* 'î°¤' */
.de-icon-ok-circled-1:before { content: '\ec25'; } /* 'î°¥' */
.de-icon-ok-circled2-1:before { content: '\ec26'; } /* 'î°¦' */
.de-icon-cancel-3:before { content: '\ec27'; } /* 'î°§' */
.de-icon-cancel-circled-3:before { content: '\ec28'; } /* 'î°¨' */
.de-icon-cancel-circled2-1:before { content: '\ec29'; } /* 'î°©' */
.de-icon-plus-3:before { content: '\ec2a'; } /* 'î°ª' */
.de-icon-plus-circled-2:before { content: '\ec2b'; } /* 'î°«' */
.de-icon-minus-3:before { content: '\ec2c'; } /* 'î°¬' */
.de-icon-minus-circled-2:before { content: '\ec2d'; } /* 'î°­' */
.de-icon-help-2:before { content: '\ec2e'; } /* 'î°®' */
.de-icon-help-circled-2:before { content: '\ec2f'; } /* 'î°¯' */
.de-icon-info-circled-2:before { content: '\ec30'; } /* 'î°°' */
.de-icon-home-3:before { content: '\ec31'; } /* 'î°±' */
.de-icon-home-circled:before { content: '\ec32'; } /* 'î°²' */
.de-icon-website:before { content: '\ec33'; } /* 'î°³' */
.de-icon-website-circled:before { content: '\ec34'; } /* 'î°´' */
.de-icon-attach-3:before { content: '\ec35'; } /* 'î°µ' */
.de-icon-attach-circled:before { content: '\ec36'; } /* 'î°¶' */
.de-icon-lock-3:before { content: '\ec37'; } /* 'î°·' */
.de-icon-lock-circled:before { content: '\ec38'; } /* 'î°¸' */
.de-icon-lock-open-3:before { content: '\ec39'; } /* 'î°¹' */
.de-icon-lock-open-alt-1:before { content: '\ec3a'; } /* 'î°º' */
.de-icon-eye-3:before { content: '\ec3b'; } /* 'î°»' */
.de-icon-eye-off-1:before { content: '\ec3c'; } /* 'î°¼' */
.de-icon-tag-3:before { content: '\ec3d'; } /* 'î°½' */
.de-icon-tags-2:before { content: '\ec3e'; } /* 'î°¾' */
.de-icon-bookmark-3:before { content: '\ec3f'; } /* 'î°¿' */
.de-icon-bookmark-empty-1:before { content: '\ec40'; } /* 'î±€' */
.de-icon-flag-3:before { content: '\ec41'; } /* 'î±' */
.de-icon-flag-circled:before { content: '\ec42'; } /* 'î±‚' */
.de-icon-thumbs-up-3:before { content: '\ec43'; } /* 'î±ƒ' */
.de-icon-thumbs-down-3:before { content: '\ec44'; } /* 'î±„' */
.de-icon-download-3:before { content: '\ec45'; } /* 'î±…' */
.de-icon-download-alt:before { content: '\ec46'; } /* 'î±†' */
.de-icon-upload-3:before { content: '\ec47'; } /* 'î±‡' */
.de-icon-share-2:before { content: '\ec48'; } /* 'î±ˆ' */
.de-icon-quote-1:before { content: '\ec49'; } /* 'î±‰' */
.de-icon-quote-circled:before { content: '\ec4a'; } /* 'î±Š' */
.de-icon-export-3:before { content: '\ec4b'; } /* 'î±‹' */
.de-icon-pencil-3:before { content: '\ec4c'; } /* 'î±Œ' */
.de-icon-pencil-circled:before { content: '\ec4d'; } /* 'î±' */
.de-icon-edit-2:before { content: '\ec4e'; } /* 'î±Ž' */
.de-icon-edit-circled:before { content: '\ec4f'; } /* 'î±' */
.de-icon-edit-alt:before { content: '\ec50'; } /* 'î±' */
.de-icon-print-3:before { content: '\ec51'; } /* 'î±‘' */
.de-icon-retweet-2:before { content: '\ec52'; } /* 'î±’' */
.de-icon-comment-3:before { content: '\ec53'; } /* 'î±“' */
.de-icon-comment-alt:before { content: '\ec54'; } /* 'î±”' */
.de-icon-bell-3:before { content: '\ec55'; } /* 'î±•' */
.de-icon-warning-1:before { content: '\ec56'; } /* 'î±–' */
.de-icon-exclamation:before { content: '\ec57'; } /* 'î±—' */
.de-icon-error:before { content: '\ec58'; } /* 'î±˜' */
.de-icon-error-alt:before { content: '\ec59'; } /* 'î±™' */
.de-icon-location-3:before { content: '\ec5a'; } /* 'î±š' */
.de-icon-location-circled:before { content: '\ec5b'; } /* 'î±›' */
.de-icon-compass-3:before { content: '\ec5c'; } /* 'î±œ' */
.de-icon-compass-circled:before { content: '\ec5d'; } /* 'î±' */
.de-icon-trash-3:before { content: '\ec5e'; } /* 'î±ž' */
.de-icon-trash-circled:before { content: '\ec5f'; } /* 'î±Ÿ' */
.de-icon-doc-3:before { content: '\ec60'; } /* 'î± ' */
.de-icon-doc-circled:before { content: '\ec61'; } /* 'î±¡' */
.de-icon-doc-new:before { content: '\ec62'; } /* 'î±¢' */
.de-icon-doc-new-circled:before { content: '\ec63'; } /* 'î±£' */
.de-icon-folder-3:before { content: '\ec64'; } /* 'î±¤' */
.de-icon-folder-circled:before { content: '\ec65'; } /* 'î±¥' */
.de-icon-folder-close:before { content: '\ec66'; } /* 'î±¦' */
.de-icon-folder-open-1:before { content: '\ec67'; } /* 'î±§' */
.de-icon-rss-3:before { content: '\ec68'; } /* 'î±¨' */
.de-icon-phone-3:before { content: '\ec69'; } /* 'î±©' */
.de-icon-phone-circled:before { content: '\ec6a'; } /* 'î±ª' */
.de-icon-cog-3:before { content: '\ec6b'; } /* 'î±«' */
.de-icon-cog-circled:before { content: '\ec6c'; } /* 'î±¬' */
.de-icon-cogs:before { content: '\ec6d'; } /* 'î±­' */
.de-icon-wrench-2:before { content: '\ec6e'; } /* 'î±®' */
.de-icon-wrench-circled:before { content: '\ec6f'; } /* 'î±¯' */
.de-icon-basket-3:before { content: '\ec70'; } /* 'î±°' */
.de-icon-basket-circled:before { content: '\ec71'; } /* 'î±±' */
.de-icon-calendar-3:before { content: '\ec72'; } /* 'î±²' */
.de-icon-calendar-circled:before { content: '\ec73'; } /* 'î±³' */
.de-icon-mic-3:before { content: '\ec74'; } /* 'î±´' */
.de-icon-mic-circled:before { content: '\ec75'; } /* 'î±µ' */
.de-icon-volume-off-2:before { content: '\ec76'; } /* 'î±¶' */
.de-icon-volume-down-1:before { content: '\ec77'; } /* 'î±·' */
.de-icon-volume-1:before { content: '\ec78'; } /* 'î±¸' */
.de-icon-volume-up-1:before { content: '\ec79'; } /* 'î±¹' */
.de-icon-headphones-2:before { content: '\ec7a'; } /* 'î±º' */
.de-icon-clock-3:before { content: '\ec7b'; } /* 'î±»' */
.de-icon-clock-circled:before { content: '\ec7c'; } /* 'î±¼' */
.de-icon-lightbulb-2:before { content: '\ec7d'; } /* 'î±½' */
.de-icon-lightbulb-alt:before { content: '\ec7e'; } /* 'î±¾' */
.de-icon-block-3:before { content: '\ec7f'; } /* 'î±¿' */
.de-icon-resize-full-3:before { content: '\ec80'; } /* 'î²€' */
.de-icon-resize-full-alt-1:before { content: '\ec81'; } /* 'î²' */
.de-icon-resize-small-2:before { content: '\ec82'; } /* 'î²‚' */
.de-icon-resize-vertical-1:before { content: '\ec83'; } /* 'î²ƒ' */
.de-icon-resize-horizontal-1:before { content: '\ec84'; } /* 'î²„' */
.de-icon-move-2:before { content: '\ec85'; } /* 'î²…' */
.de-icon-zoom-in-2:before { content: '\ec86'; } /* 'î²†' */
.de-icon-zoom-out-2:before { content: '\ec87'; } /* 'î²‡' */
.de-icon-down-open-2:before { content: '\ec88'; } /* 'î²ˆ' */
.de-icon-left-open-3:before { content: '\ec89'; } /* 'î²‰' */
.de-icon-right-open-3:before { content: '\ec8a'; } /* 'î²Š' */
.de-icon-up-open-2:before { content: '\ec8b'; } /* 'î²‹' */
.de-icon-down-3:before { content: '\ec8c'; } /* 'î²Œ' */
.de-icon-left-3:before { content: '\ec8d'; } /* 'î²' */
.de-icon-right-3:before { content: '\ec8e'; } /* 'î²Ž' */
.de-icon-up-3:before { content: '\ec8f'; } /* 'î²' */
.de-icon-down-circled-2:before { content: '\ec90'; } /* 'î²' */
.de-icon-left-circled-2:before { content: '\ec91'; } /* 'î²‘' */
.de-icon-right-circled-2:before { content: '\ec92'; } /* 'î²’' */
.de-icon-up-circled-2:before { content: '\ec93'; } /* 'î²“' */
.de-icon-down-hand-1:before { content: '\ec94'; } /* 'î²”' */
.de-icon-left-hand-1:before { content: '\ec95'; } /* 'î²•' */
.de-icon-right-hand-1:before { content: '\ec96'; } /* 'î²–' */
.de-icon-up-hand-1:before { content: '\ec97'; } /* 'î²—' */
.de-icon-cw-3:before { content: '\ec98'; } /* 'î²˜' */
.de-icon-cw-circled:before { content: '\ec99'; } /* 'î²™' */
.de-icon-arrows-cw-2:before { content: '\ec9a'; } /* 'î²š' */
.de-icon-shuffle-3:before { content: '\ec9b'; } /* 'î²›' */
.de-icon-play-3:before { content: '\ec9c'; } /* 'î²œ' */
.de-icon-play-circled-1:before { content: '\ec9d'; } /* 'î²' */
.de-icon-play-circled2-1:before { content: '\ec9e'; } /* 'î²ž' */
.de-icon-stop-3:before { content: '\ec9f'; } /* 'î²Ÿ' */
.de-icon-stop-circled:before { content: '\eca0'; } /* 'î² ' */
.de-icon-pause-3:before { content: '\eca1'; } /* 'î²¡' */
.de-icon-pause-circled:before { content: '\eca2'; } /* 'î²¢' */
.de-icon-record-2:before { content: '\eca3'; } /* 'î²£' */
.de-icon-eject-2:before { content: '\eca4'; } /* 'î²¤' */
.de-icon-backward:before { content: '\eca5'; } /* 'î²¥' */
.de-icon-backward-circled:before { content: '\eca6'; } /* 'î²¦' */
.de-icon-fast-backward-1:before { content: '\eca7'; } /* 'î²§' */
.de-icon-fast-forward-1:before { content: '\eca8'; } /* 'î²¨' */
.de-icon-forward-3:before { content: '\eca9'; } /* 'î²©' */
.de-icon-forward-circled:before { content: '\ecaa'; } /* 'î²ª' */
.de-icon-step-backward:before { content: '\ecab'; } /* 'î²«' */
.de-icon-step-forward:before { content: '\ecac'; } /* 'î²¬' */
.de-icon-target-3:before { content: '\ecad'; } /* 'î²­' */
.de-icon-signal-2:before { content: '\ecae'; } /* 'î²®' */
.de-icon-desktop-2:before { content: '\ecaf'; } /* 'î²¯' */
.de-icon-desktop-circled:before { content: '\ecb0'; } /* 'î²°' */
.de-icon-laptop-2:before { content: '\ecb1'; } /* 'î²±' */
.de-icon-laptop-circled:before { content: '\ecb2'; } /* 'î²²' */
.de-icon-network-1:before { content: '\ecb3'; } /* 'î²³' */
.de-icon-inbox-2:before { content: '\ecb4'; } /* 'î²´' */
.de-icon-inbox-circled:before { content: '\ecb5'; } /* 'î²µ' */
.de-icon-inbox-alt:before { content: '\ecb6'; } /* 'î²¶' */
.de-icon-globe-3:before { content: '\ecb7'; } /* 'î²·' */
.de-icon-globe-alt-1:before { content: '\ecb8'; } /* 'î²¸' */
.de-icon-cloud-3:before { content: '\ecb9'; } /* 'î²¹' */
.de-icon-cloud-circled:before { content: '\ecba'; } /* 'î²º' */
.de-icon-flight-2:before { content: '\ecbb'; } /* 'î²»' */
.de-icon-leaf-3:before { content: '\ecbc'; } /* 'î²¼' */
.de-icon-font-1:before { content: '\ecbd'; } /* 'î²½' */
.de-icon-fontsize:before { content: '\ecbe'; } /* 'î²¾' */
.de-icon-bold-1:before { content: '\ecbf'; } /* 'î²¿' */
.de-icon-italic-1:before { content: '\ecc0'; } /* 'î³€' */
.de-icon-text-height-1:before { content: '\ecc1'; } /* 'î³' */
.de-icon-text-width-1:before { content: '\ecc2'; } /* 'î³‚' */
.de-icon-align-left-1:before { content: '\ecc3'; } /* 'î³ƒ' */
.de-icon-align-center-1:before { content: '\ecc4'; } /* 'î³„' */
.de-icon-align-right-1:before { content: '\ecc5'; } /* 'î³…' */
.de-icon-align-justify-1:before { content: '\ecc6'; } /* 'î³†' */
.de-icon-list-2:before { content: '\ecc7'; } /* 'î³‡' */
.de-icon-indent-left-1:before { content: '\ecc8'; } /* 'î³ˆ' */
.de-icon-indent-right-1:before { content: '\ecc9'; } /* 'î³‰' */
.de-icon-briefcase-3:before { content: '\ecca'; } /* 'î³Š' */
.de-icon-off-1:before { content: '\eccb'; } /* 'î³‹' */
.de-icon-road-1:before { content: '\eccc'; } /* 'î³Œ' */
.de-icon-qrcode-1:before { content: '\eccd'; } /* 'î³' */
.de-icon-barcode-1:before { content: '\ecce'; } /* 'î³Ž' */
.de-icon-braille:before { content: '\eccf'; } /* 'î³' */
.de-icon-book-2:before { content: '\ecd0'; } /* 'î³' */
.de-icon-adjust-1:before { content: '\ecd1'; } /* 'î³‘' */
.de-icon-tint-1:before { content: '\ecd2'; } /* 'î³’' */
.de-icon-check-3:before { content: '\ecd3'; } /* 'î³“' */
.de-icon-check-empty-1:before { content: '\ecd4'; } /* 'î³”' */
.de-icon-asterisk-1:before { content: '\ecd5'; } /* 'î³•' */
.de-icon-gift-2:before { content: '\ecd6'; } /* 'î³–' */
.de-icon-fire-1:before { content: '\ecd7'; } /* 'î³—' */
.de-icon-magnet-2:before { content: '\ecd8'; } /* 'î³˜' */
.de-icon-chart-1:before { content: '\ecd9'; } /* 'î³™' */
.de-icon-chart-circled:before { content: '\ecda'; } /* 'î³š' */
.de-icon-credit-card-3:before { content: '\ecdb'; } /* 'î³›' */
.de-icon-megaphone-2:before { content: '\ecdc'; } /* 'î³œ' */
.de-icon-clipboard-2:before { content: '\ecdd'; } /* 'î³' */
.de-icon-hdd-1:before { content: '\ecde'; } /* 'î³ž' */
.de-icon-key-3:before { content: '\ecdf'; } /* 'î³Ÿ' */
.de-icon-certificate-2:before { content: '\ece0'; } /* 'î³ ' */
.de-icon-tasks-1:before { content: '\ece1'; } /* 'î³¡' */
.de-icon-filter-1:before { content: '\ece2'; } /* 'î³¢' */
.de-icon-gauge-2:before { content: '\ece3'; } /* 'î³£' */
.de-icon-smiley:before { content: '\ece4'; } /* 'î³¤' */
.de-icon-smiley-circled:before { content: '\ece5'; } /* 'î³¥' */
.de-icon-address-book:before { content: '\ece6'; } /* 'î³¦' */
.de-icon-address-book-alt:before { content: '\ece7'; } /* 'î³§' */
.de-icon-asl:before { content: '\ece8'; } /* 'î³¨' */
.de-icon-glasses:before { content: '\ece9'; } /* 'î³©' */
.de-icon-hearing-impaired:before { content: '\ecea'; } /* 'î³ª' */
.de-icon-iphone-home:before { content: '\eceb'; } /* 'î³«' */
.de-icon-person:before { content: '\ecec'; } /* 'î³¬' */
.de-icon-adult:before { content: '\eced'; } /* 'î³­' */
.de-icon-child-1:before { content: '\ecee'; } /* 'î³®' */
.de-icon-blind:before { content: '\ecef'; } /* 'î³¯' */
.de-icon-guidedog:before { content: '\ecf0'; } /* 'î³°' */
.de-icon-accessibility:before { content: '\ecf1'; } /* 'î³±' */
.de-icon-universal-access:before { content: '\ecf2'; } /* 'î³²' */
.de-icon-male-1:before { content: '\ecf3'; } /* 'î³³' */
.de-icon-female-1:before { content: '\ecf4'; } /* 'î³´' */
.de-icon-behance-2:before { content: '\ecf5'; } /* 'î³µ' */
.de-icon-blogger:before { content: '\ecf6'; } /* 'î³¶' */
.de-icon-cc-1:before { content: '\ecf7'; } /* 'î³·' */
.de-icon-css:before { content: '\ecf8'; } /* 'î³¸' */
.de-icon-delicious-1:before { content: '\ecf9'; } /* 'î³¹' */
.de-icon-deviantart-1:before { content: '\ecfa'; } /* 'î³º' */
.de-icon-digg-1:before { content: '\ecfb'; } /* 'î³»' */
.de-icon-dribbble-3:before { content: '\ecfc'; } /* 'î³¼' */
.de-icon-facebook-3:before { content: '\ecfd'; } /* 'î³½' */
.de-icon-flickr-3:before { content: '\ecfe'; } /* 'î³¾' */
.de-icon-foursquare-1:before { content: '\ecff'; } /* 'î³¿' */
.de-icon-friendfeed:before { content: '\ed00'; } /* 'î´€' */
.de-icon-friendfeed-rect:before { content: '\ed01'; } /* 'î´' */
.de-icon-github-3:before { content: '\ed02'; } /* 'î´‚' */
.de-icon-github-text:before { content: '\ed03'; } /* 'î´ƒ' */
.de-icon-googleplus:before { content: '\ed04'; } /* 'î´„' */
.de-icon-instagram-1:before { content: '\ed05'; } /* 'î´…' */
.de-icon-linkedin-3:before { content: '\ed06'; } /* 'î´†' */
.de-icon-path:before { content: '\ed07'; } /* 'î´‡' */
.de-icon-picasa-1:before { content: '\ed08'; } /* 'î´ˆ' */
.de-icon-pinterest-2:before { content: '\ed09'; } /* 'î´‰' */
.de-icon-reddit-1:before { content: '\ed0a'; } /* 'î´Š' */
.de-icon-skype-3:before { content: '\ed0b'; } /* 'î´‹' */
.de-icon-slideshare:before { content: '\ed0c'; } /* 'î´Œ' */
.de-icon-stackoverflow-1:before { content: '\ed0d'; } /* 'î´' */
.de-icon-stumbleupon-2:before { content: '\ed0e'; } /* 'î´Ž' */
.de-icon-twitter-3:before { content: '\ed0f'; } /* 'î´' */
.de-icon-tumblr-2:before { content: '\ed10'; } /* 'î´' */
.de-icon-vimeo-2:before { content: '\ed11'; } /* 'î´‘' */
.de-icon-vkontakte-2:before { content: '\ed12'; } /* 'î´’' */
.de-icon-w3c:before { content: '\ed13'; } /* 'î´“' */
.de-icon-wordpress-1:before { content: '\ed14'; } /* 'î´”' */
.de-icon-youtube-1:before { content: '\ed15'; } /* 'î´•' */
