/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

body{
  color: #6a6a6a;
}
p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.banner-text{
	display:inline-block;
	font-family: 'Oswald', sans-serif;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
	text-align:center
}
.banner-text.small{
	padding:2px 30px;
}

.banner-text.medium{
	padding:2px 50px;
}

.banner-text.large{
	padding:2px 70px;
}

.banner-text.full{
	width:100%;
}

.banner-text.light{
	color:#FFF;
	border-top:medium double #fff;
	border-bottom:medium double #fff;
}

.banner-text.light *{
	color:#FFF;
}

.banner-text.dark{
	color:#6a6a6a;
	border-top:medium double #6a6a6a;
	border-bottom:medium double #6a6a6a;
}

.banner-text.dark *{
	color:#333333;
}

.banner-text.withlove{
	position:relative;
	display:inline-block;
	font-family: 'Oswald', sans-serif;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
	text-align:center
}

.banner-text.withlove:before{
	display:block;
	font-family: "fontello";
	position:absolute;
	font-size:22px;
	color:#FFF;
	content:"\e806";
	top:0px;
	left:0;
	right:0;
	margin-left:19px;
}

.banner-text.withlove.dark:before{
	color:#e1dddd;
}

.banner-text.withlove:after{
	display:block;
	font-family: "fontello";
	position:absolute;
	font-size:22px;
	color:#f0394d;
	content:"\e806";
	top:0px;
	left:0;
	right:0	;
	margin-right:19px;
}

.invited{
	font-family: 'Pacifico', cursive;
	font-size:36px;
	margin-bottom:70px;
  color: white;
}

.banner-date{
	font-family: 'Oswald', sans-serif;
	letter-spacing:4px;
	font-size:20px;
  margin-bottom:70px;
  color: white;
}

h1, h2, h3,
.h1, .h2, .h3{
	margin-top: 20px;
  margin-bottom: 20px;
}

h1, .h1{
	font-size:45px;
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }

 .thank-you{
	text-align:center;
	color:#FFF;
	font-family: 'Pacifico';
	/* -ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg); */
	/* padding-right:30px; */
	margin-top:40px;
	margin-bottom:25px;
}

.thank{
	font-size:55px;
	line-height:45px
}

.you{
	font-size:55px;
	line-height:45px;
}

.footer-couple-name{
	font-family: 'Oswald', sans-serif;
	font-size:30px;
	color:#FFF;
	letter-spacing:5px;
	margin-top:10px;
}

.heart-divider{
	height:100%;
	width:100%;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
}

.white-line{
	width:30px;
	height:8px;
	display:inline-block;
	border-top:solid 1px #FFF;
}

.grey-line{
	width:30px;
	height:8px;
	display:inline-block;
	border-top:solid 2px #e1dddd;
}

/*.left-line{
	color:#FFF;
	letter-spacing:-2px;
	float:left;
	margin-right:10px
}

.right-line{
	color:#FFF;
	letter-spacing:-2px;
	float:left;
	margin-left:10px
}

.two-heart{
	float:left;
}*/

.pink-heart{
	color:#f0394d;
	font-size:18px;
	position:relative;
	z-index:3
}

.white-heart{
	color:#FFF;
	font-size:18px;
	margin-left:-15px;
	position:relative;
	z-index:2
}

.grey-heart{
	color: #e1dddd;
	font-size:18px;
	margin-left:-15px;
	position:relative;
	z-index:2
}

#counting-down{
	text-align:center;
	color:#FFF;
	font-family: 'Pacifico';
	-ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
	padding-right:30px;
	margin-top:0px;
	margin-bottom:25px;
}

#counting{
	font-size:65px;
	line-height:50px
}

#down{
	font-size:55px;
	line-height:65px;
}

.simple-countdown{
	width:250px;
	margin:0 auto;
	margin-top:25px
}

.simple-countdown.is-countdown {
	border: none;
	background-color:transparent;
	color:#FFF;
	font-family: 'Oswald', sans-serif;
	font-size:13px;
}

.simple-countdown .countdown-amount {
	display:inline-block;
	font-size:18px;
	letter-spacing:2px;
}
.simple-countdown .countdown-period {
    display:inline-block;
	font-size:18px;
}

.circle-countdown{
	width:100%;
	margin:0 auto;
	margin-top:25px
}

.circle-countdown.is-countdown {
	background-color:transparent;
	border:none;
	font-family: 'Oswald', sans-serif;
}

.circle-countdown .countdown-amount {
	background-color:#f0394d;
	width:65px;
	height:65px;
	border-radius:50%;
	display:block;
	padding-top:15px;
	font-size:30px;
	margin:0 auto;
}

.circle-countdown .countdown-period {
	padding:10px;
	display:block;
	text-align:center;
	font-size:16px;
	text-transform:uppercase;
}

#location-countdown .image-divider.auto-height {
	padding:60px 0;
}

#counting{
	font-size:55px;
	line-height:45px
}

#down{
	font-size:50px;
	line-height:50px;
}

.simple-countdown .countdown-amount {
	font-size:16px;
}
.simple-countdown .countdown-period {
	font-size:16px;
}

h2#dont-miss-it-title{
	font-size:60px;
	margin-bottom:20px;
	font-family: 'Pacifico', cursive;
  color: #f82e2ed1;
}
